.gas-hero-container,
.gas-hero-subcontainer,
.gas-hero-image-container,
.gas-hero-image,
.gas-hero-copy-container,
.gas-hero-title-container,
.gas-hero-title,
.gas-hero-subtitle,
.gas-hero-paragraph-container,
.gas-hero-paragraph {
  /* border: var(--temporary-border); */
}

.gas-hero-container {
  display: grid;
  grid-template-columns: 1fr;
  background-image: var(--gas-hero-container-background-image); 
}

@media (min-width:600px) {
  .gas-hero-container {
  }
}

.gas-hero-subcontainer {
  display: grid;
  grid-template-columns: 0.9fr 0.1fr;
  grid-template-rows: auto auto;
  grid-template-areas:
  "gas-hero-img-container gas-hero-img-container"
  "gas-hero-copy-container .";
  row-gap: 30px;
  align-content: start;
  padding: 30px 0;
}

@media (min-width: 600px) {
  .gas-hero-subcontainer {
    grid-template-columns: 1.5fr 1fr;
    grid-template-areas: 
    "gas-hero-copy-container gas-hero-img-container";
    column-gap: 40px;
  }
}
  
.gas-hero-image-container {
  grid-area: gas-hero-img-container;
  display: grid;
  justify-content: center;
  align-content: center;
  padding: 0 5% 0 5%;
}

@media (min-width: 600px) {
  .gas-hero-image-container {
    padding: 0 5% 0 0;
  }
}

.gas-hero-image {
  display: block;
  width: 100%;
}

@media (min-width: 600px) {
  .gas-hero-image {
  }
}

.gas-hero-copy-container {
  grid-area:gas-hero-copy-container;
  display: grid;
  align-content: center;
  row-gap: 15px;
  padding: 50px 50px 50px 75px;
  background-image: var(--gas-hero-copy-container-background-image);
  border-radius: var(--gas-hero-copy-container-offset-left-border-radius);
  box-shadow: var(--site-container-box-shadow-mobile);
}

@media (min-width: 600px) {
  .gas-hero-copy-container {
    padding: 50px;
    border-radius: var(--electric-hero-copy-container-offset-left-border-radius);
    box-shadow: var(--site-container-box-shadow-desktop);
  }
}

.gas-hero-title-container{
  display: grid;
  align-content: start;
  row-gap: var(--title-container-row-gap-mobile); 
  /* this needs to look if its worth to have global. in this page just use once */
}

@media (min-width: 600px){
  .gas-hero-title-container{
    align-content: center;
    row-gap: var(--title-container-row-gap-desktop);
  }
}

.gas-hero-title {
  text-align: center;
  font-size: var(--title-font-size-mobile);
  font-weight: var(--title-font-weight-mobile);
}

@media (min-width: 600px) {
  .gas-hero-title {
    text-align: left;
    font-size: var(--title-font-size-desktop);
    font-weight: var(--title-font-weight-desktop);
  }
}

.gas-hero-subtitle {
  text-align: center;
  font-size: var(--subtitle-font-size-mobile);
  font-weight: var(--subtitle-font-weight-mobile);
}

@media (min-width: 600px) {
  .gas-hero-subtitle {
    text-align: left;
    font-size: var(--subtitle-font-size-desktop);
    font-weight: var(--subtitle-font-weight-desktop);
  }
}

.gas-hero-paragraph-container {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: var(--paragraph-container-row-gap-mobile);
}

@media (min-width: 600px) {
  .gas-hero-paragraph-container {
    row-gap: var(--paragraph-container-row-gap-mobile);
  }
}

.gas-hero-paragraph {
  text-align: center;
  font-size: var(--paragraph-font-size-mobile);
  font-weight: var(--paragraph-font-weight-mobile);
}

@media (min-width: 600px) {
  .gas-hero-paragraph {
    text-align: left;
    font-size: var(--paragraph-font-size-desktop);
    font-weight: var(--paragraph-font-weight-desktop);
  }
}