:root {
  /* CHECK YOUR GLOBAL STYLE DOES NOT ALREADY EXIST */
  /* THEN PUT NEW GLOBAL STYLES HERE */
  
  --gas-title-row-gap-mobile: 10px;
  --gas-title-column-gap-desktop: 15px;

  --gas-title-font-size-mobile: ;
  --gas-title-font-size-desktop: ;

  --gas-title-font-weight-desktop: ;
  --gas-title-font-weight-mobile: ;
}