:root {
  /* CHECK YOUR GLOBAL STYLE DOES NOT ALREADY EXIST */
  /* THEN PUT NEW GLOBAL STYLES HERE */
  /******COLOR*****/

  /******gas-title**********/
  --gas-title-row-gap-mobile: 15px;
  --gas-title-column-gap-desktop: 15px;

  --gas-title-font-size-mobile: 20px;
  --gas-title-font-size-desktop: 24px;

  --gas-title-font-weight-mobile: 600;
  --gas-title-font-weight-desktop: 600;
}