@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
}

body {
  max-width: 500px;
  border: 1px solid black;
  font-family: 'Poppins', sans-serif;
}

@media (min-width: 500px){
  body{
    max-width: 1400px;
  }
}

:root {
  --white: #FFFFFF;
  --dark-blue:#004DD6;
  --red:#FF4242;
  --light-gray:#D9D9D9;
  --light-blue:#CBE9FA;

  --container-padding-mobile: 50px;
  --subcontainer-padding-mobile: 20px;

  --container-padding-desktop: 60px;
  --subcontainer-padding-desktop: 30px;
  /* ^created these and gave them random numbers */
  
  --container-border-mobile: 1px solid black;
  --container-border-desktop: 1px solid black;

  --subcontainer-border-mobile: 1px solid black;
  --container-border-desktop: 1px solid black;
  /* ^we need to rethink both of these... across the whole site... */

  --temporary-border: 1px dotted black; /* everything */
  /* ^use temporarily to see box models and scaling */

  --level1-background-color: hsl(190, 55%, 85%); /* container */
  --level2-background-color: hsl(190, 60%, 90%); /* subcontainer */
  --level3-background-color: hsl(190, 65%, 95%); /* image-container + copy-container */
  /* ^use temporarily to see box models and scaling*/

  --subcontainer-row-gap-mobile: 20px;
  --subcontainer-column-gap-desktop: 50px;
  /* ^gap between the image and text content in the desktop grid */

  --copy-container-padding-mobile: 20px;
  --copy-container-padding-desktop: 30px;

  --copy-container-row-gap-mobile: 20px;
  --copy-container-row-gap-desktop: 30px;
  /* ^gap between each element in copy-container */

  --title-font-size-mobile: 20px;
  --title-font-size-desktop: 22px;

  --title-font-weight-mobile: 600;
  --title-font-weight-desktop: 600;

  --subtitle-font-size-mobile: 18px;
  --subtitle-font-size-desktop: 20px;

  --subtitle-font-weight-mobile: 500;
  --subtitle-font-weight-desktop: 500;

  --paragraph-container-row-gap-mobile: 10px;
  --paragraph-container-row-gap-desktop: 20px;
  /* ^changes the size of the row-gap on the paragraph-containers */

  --paragraph-font-size-mobile: 14px;
  --paragraph-font-size-desktop: 16px;

  --paragraph-font-weight-mobile: 400;
  --paragraph-font-weight-desktop: 400;

  --link-color: #000000;
  --link-background-color: #dcdcdc;
  --link-padding: 5px 10px;

  --title-size-mobile: 20px; /* --title-font-size-mobile */
  --subtitle-size-mobile:18px; /* --subtitle-font-size-mobile */
  --content-size-paragraph-mobile: 14px; /* --paragraph-font-weight-mobile */
  /* ^these need removing but things WILL BREAK */

  --items-gap-mobile:15px;
  /* ^these names aren't great this needs re-doing */

  --page-element-cssproperty-mobiledesktop: 0;

  --title-width-mobile:140px;
  --title-height-mobile:40px;

  --button-width-mobile:140px;
  --button-height-mobile:40px;
  --button-font-size-mobile:20px;

  --readmore-width-mobile:140px;
  --readmore-height-mobile:40px;
  --readmore-font-size-mobile:20px;

  --button-background-color-mobile:#D9D9D9;
  --title-background-color-mobile:#D9D9D9;
  --readmore-background-color-mobile:#D9D9D9;
}

.bold {
  font-weight: bold;
  /* ^this could be a specific font weight like 600-700-800-900 */
}

.mibox {
  /* ^this relates to mobile nav - why is this here? */
  width: 153px ;
  height: 26px;
  border: none;
}