.footer-container {
  display: grid;
  grid-template-columns: minmax(100px,1fr) minmax(100px,1fr);
  grid-template-rows: repeat(5,auto);
  grid-gap: 30px;
  padding: 40px;
  color: var(--white);
  background-color: var(--dark-blue);
}

.footer-container > * {
  border: 1px dotted black;
}

/* Footer Image */
.footer-image-container {
  display: none;
}

.footer-image {
  display: block;
  width: 100%;
}

/* Company Details */
.footer-company-details-container {
  grid-column: 1/2;
  grid-row:1/2;
  display: grid;
}

.footer-company-details-name {
  
}

.footer-company-details-address {

}

.footer-company-details-phone {

}

.footer-company-details-email {
  text-decoration: none;
  color: var(--white);
}

/* Newsletter & Login */
.footer-login-container {
  grid-column: 1/3;
  grid-row:2/3;
  display: grid;
  grid-template-columns: 3fr auto 2fr;
}

.footer-login-title {
  grid-column: 1/4;
  grid-row: 1/2;
}

.footer-login-label-input {
  grid-column: 1/2;
  grid-row: 2/3;
}

.footer-login-input {
  grid-column: 1/2;
  grid-row: 3/4;
  height: 25px;
  max-width: 150px;
  border: none;
}

.footer-login-button {
  grid-column: 3/4;
  grid-row: 3/4;
  border: none;
  background-color: var(--red);
  min-width: 115px;
  max-width: 130px;
  height: 25px;
}

/* Site Links */
.footer-links-container {
  grid-column: 1/3;
  grid-row:3/4;

}

.footer-links-title {
  grid-column: 1/2;
  grid-row: 1/2;
}

.footer-links-nav-list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  list-style: none;
  padding: 0;
}

.footer-links-nav-list-item {

}

.footer-links-nav-link {
  text-decoration: none;
  color: var(--white);
}

/* Social Media */
.footer-social-media-container {
  grid-column: 1/3;
  grid-row:4/5;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.footer-social-media-title {
  text-align: center;
}

.footer-social-media-list {
  display: flex;
  flex-direction: row;
  list-style: none;
  justify-content: space-around;
  padding: 0;
}

.footer-social-media-list-item {

}

.footer-social-media-link {
  
}

.fa-brands {
  color: white;
}

/* Footer Copyright */
.footer-copyright-container {
  grid-column: 1/2;
  grid-row:5/6;
}

.footer-copyright {

}

/* Logo */
.footer-logo-container {
  grid-column: 2/3;
  grid-row:5/6;
  justify-self: center;
  
}

.footer-logo {
  color: var(--red);
  font-size: 20px;
  font-weight: 600;
}


/* 
-- CLASS NAMES AND LAYOUT HAVE BEEN CHANGED SINCE THIS --

CSS FROM homepage-desktop.css

footer {
  width: 95%;
  background-color:  #7C8C9A;
  text-align: center;
}

.footer-container > *{
  border: 1px solid black;
}

.footer-container{
  display: grid;
  grid-template: repeat(4,auto)/repeat(3,1fr);
  background-color: var(--light-perimary);
}

.footer-img-container{
  grid-column: 1/2;
  grid-row:1/5
}

.footer-container-company-details{
  grid-column: 2/3;
  grid-row:1/3;
}

.footer-login-container{
  grid-column: 3/4;
  grid-row:1/3;
}

.nav-footer-links-container{
  grid-column: 2/4;
  grid-row:3/4;
  
}

.nav-footer-list{
  list-style: none;
  display: flex;
  flex-direction: row;
  gap: 10%;
  justify-content: center;
}

.footer-container-info{
  grid-column: 2/3;
  grid-row:4/5
}
*/