.container,
.subcontainer,
.details-container,
.details-subcontainer,
.details-subcontainer-subsection,
.details-image-container,
.details-image,
.details-copy-container,
.details-subtitle,
.details-paragraph,
.summary-container,
.summary-subcontainer,
.summary-image-container,
.summary-image,
.summary-copy-container,
.summary-title,
.summary-subtitle {
  border: 1px dotted black;
}

.container,
.subcontainer,
.details-container {
  padding: 10px;
}

body {
  max-width: 400px;
  text-align: center;
}

.container {
  display: grid;
}

.subcontainer {
  display: grid;
}

.details-container {
  display: grid;
  row-gap: 20px;
  /* ^this doesnt work */
  background-color: hsl(260, 100%, 70%);
  border: 3px solid lime;
}

.details-subcontainer {
  display: grid;
  row-gap: 20px;
  background-color: hsl(260, 100%, 80%);
  /* margin-top: 20px; */
  /* ^ in this rare case */
  border: 3px solid orange;
}

.details-subcontainer-subsection {
  display: grid;
  row-gap: 10px;
}

.details-image {
  display: block;
  width: 100%;
}

.details-copy-container {
  display: grid;
  row-gap: 10px;
}

.summary-container {
  list-style: none;
  /* this removes the arrow */
  /* list-style-type: "+"; */
  /* this defines the list style */
  /* list-style-position: inside; */
  /* this sets the position of the arrow */
  /* list-style-image: url(); */
  /* this sets the image of the arrow */
  cursor: pointer;
}

.summary-container::marker {
  color: yellow;
  font-size: 20px;
}

.summary-subcontainer {
  display: grid;
  row-gap: 10px;
  background-color: hsl(240, 100%, 70%);
}

.summary-subcontainer {
  background-color: hsl(240, 100%, 80%);
}

.summary-image-container {
    
}

.summary-image {
  display: block;
  width: 100%;
}

.summary-copy-container {

}

/* .details-container[open] summary~* {
  animation: baz 1s ease;
}

@keyframes baz {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
} */