.gas-section-two-container,
.gas-section-two-subcontainer,
.gas-section-two-subcontainer,
.gas-section-two-copy-container,
.gas-section-two-title-container,
.gas-section-two-paragraph-container,
.gas-section-two-title,
.gas-section-two-title-span-number,
.gas-section-two-title-span-title,
.gas-section-two-paragraph{
  /* border: var(--temporary-border); */
}

.gas-section-two-container {
  display: grid;
  grid-template-columns: 1fr;
  
  /* padding: var(--container-padding-mobile); */
  padding: 0 30px;
  
  /* background-color: var(--level1-background-color); */
  background-color: #F9F9F9;
}

@media (min-width:600px){
  .gas-section-two-container {
    /* padding: var(--container-padding-desktop); */
    padding: 0 10%;
  }
}

.gas-section-two-subcontainer {
  display: grid;
  grid-template-columns: 1fr;

  /* padding: var(--subcontainer-padding-mobile); */
  padding: 35px 20px;
}

@media (min-width: 600px){
  .gas-section-two-subcontainer {
    /* padding: var(--subcontainer-padding-desktop); */
    padding: 7% 8%;
  }
}

.gas-section-two-copy-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas: 
  "gas-section-two-title-container"
  "gas-section-two-paragraph-container";
  align-content: start;
  row-gap: var(--copy-container-row-gap-mobile);
}

@media (min-width:600px){
  .gas-section-two-copy-container{
    grid-template-columns: 1fr;
    grid-template-areas: 
    "gas-section-two-title-container" 
    "gas-section-two-paragraph-container";
    align-content: center;
    row-gap: var(--copy-container-row-gap-desktop);
  }
}

.gas-section-two-title-container {
  grid-area: gas-section-two-title-container;
  display: grid;
  align-content: start;
}

@media (min-width: 600px){
  .gas-section-two-title-container{
    align-content: center;
  }
}

.gas-section-two-title {
  display: flex;
  flex-direction: column;
  text-align: center;
  row-gap: var(--gas-title-row-gap-mobile);
  font-size: var(--gas-title-font-size-mobile);
  font-weight: var(--gas-title-font-weight-mobile);
}

@media (min-width: 600px) {
  .gas-section-two-title {
    flex-direction: row;
    row-gap: none;
    column-gap: var(--gas-title-column-gap-desktop);
    text-align: left;
    font-size: var(--gas-title-font-size-desktop);
    font-weight: var(--gas-title-font-weight-desktop);
  }
}

.gas-section-two-title-span-number{
}

.gas-section-two-title-span-title{
}

.gas-section-two-paragraph-container {
  grid-area: gas-section-two-paragraph-container ;
  display: grid;
  row-gap: var(--paragraph-container-row-gap-mobile);
}

@media (min-width:600px){
  .gas-section-two-paragraph-container {
    row-gap: var(--paragraph-container-row-gap-desktop);
  }
}

.gas-section-two-paragraph {
  text-align: center;
  font-size: var(--paragraph-font-size-mobile);
  font-weight: var(--paragraph-font-weight-mobile);
}

@media (min-width:600px){
  .gas-section-two-paragraph {
    text-align: left;
    font-size: var(--paragraph-font-size-desktop);
    font-weight: var(--paragraph-font-weight-desktop);
  }
}
