.gas-section-two-subcontainer,
.gas-section-two-subcontainer,
.gas-section-two-copy-container,
.gas-section-two-title-container,
.gas-section-two-paragraph-container,
.gas-section-two-title,
.gas-section-two-subtitle,
.gas-section-two-paragraph{
  border: var(--temporary-border);
}

.gas-section-two-container {
  display: grid;
  grid-template-columns: 1fr;
  padding: var(--container-padding-mobile);
  background-color: var(--level1-background-color);
}

@media (min-width:600px){
  .gas-section-two-container {
    padding: var(--container-padding-desktop);
  }
}

.gas-section-two-subcontainer {
  display: grid;
  grid-template-columns: 1fr;
  padding: var(--subcontainer-padding-mobile);
  background-color: var(--level2-background-color);
}

@media (min-width:600px){
  .gas-section-two-container {
    padding: var(--subcontainer-padding-desktop);
  }
}

.gas-section-two-copy-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas: 
  "gas-section-two-title-container"
  "gas-section-two-paragraph-container";
  align-content: start;
  row-gap: var(--subcontainer-row-gap-mobile);
  padding: var(--copy-container-padding-mobile);
  background-color: var(--level3-background-color);
}

@media (min-width:600px){
  .gas-section-two-copy-container{
    grid-template-columns: repeat(2,1fr);
    grid-template-areas: 
    "gas-section-two-title-container gas-section-two-paragraph-container";
    column-gap: var(--subcontainer-column-gap-desktop);/*i did same above here */
  }
}

.gas-section-two-title-container {
 grid-area: gas-section-two-title-container;
 display: flex;
 flex-direction: column;
 row-gap: var(--title-container-row-gap-mobile);
}

@media (min-width: 600px){
  .gas-section-two-title-container{
    flex-direction: row;
    column-gap: var(--title-container-column-gap-desktop);
    row-gap: none;
    align-items: center;
  }
}

.gas-section-two-title {
  text-align: center;
  font-size: var(--gas-title-font-size-mobile);
  font-weight: var(--gas-title-font-weight-mobile);
}

@media (min-width: 600px) {
  .gas-section-two-title {
    text-align: left;
    font-size: var(--gas-title-font-size-desktop);
    font-weight: var(--gas-title-font-weight-desktop);
  }
}

.gas-section-two-subtitle {
  text-align: center;
  font-size: var(--gas-subtitle-font-size-mobile);
  font-weight: var(--gas-subtitle-font-weight-mobile);
}

@media (min-width: 600px) {
  .gas-section-two-subtitle {
    text-align: left;
    font-size: var(--gas-subtitle-font-size-desktop);
    font-weight: var(--gas-subtitle-font-weight-desktop);
  }
}

.gas-section-two-paragraph-container {
  grid-area: gas-section-two-paragraph-container ;
  display: grid;
  row-gap: var(--paragraph-container-row-gap-mobile);
}

@media (min-width:600px){
  .gas-section-two-paragraph-container {
    row-gap: var(--paragraph-container-row-gap-desktop);
  }
}

.gas-section-two-paragraph {
  text-align: center;
  font-size: var(--paragraph-font-size-mobile);
  font-weight: var(--paragraph-font-weight-mobile);
}

@media (min-width:600px){
  .gas-section-two-paragraph {
    text-align: left;
    font-size: var(--paragraph-font-size-desktop);
    font-weight: var(--paragraph-font-weight-desktop);
  }
}
