.gas-section-two-container {
  display: grid;
  grid-template-columns: 1fr;
  justify-content: center;
  row-gap: var(--items-gap-mobile);
  padding: var(--container-padding-mobile);
}

.gas-section-two-container > * {
  border: dotted 1px black;
}

.gas-section-two-title {
  grid-column: 1/2;
  justify-self: center;
  text-align: center;
  font-size: var(--title-size-mobile);
  /* width: var(--title-width-mobile);
  height: var(--title-height-mobile); */
  background-color: var(--title-background-color-mobile);
}
.gas-section-two-content {
  grid-column: 1/2;
  text-align: justify;
  font-size: var(--content-size-paragraph-mobile);
}
