.electric-section-four-container,
.electric-section-four-subcontainer,
.electric-section-four-title,
.electric-section-four-subsection-one-container,
.electric-section-four-subsection-one-image-container,
.electric-section-four-subsection-one-copy-container,
.electric-section-four-subsection-one-subtitle,
.electric-section-four-subsection-one-paragraph-container,
.electric-section-four-subsection-one-paragraph,
.electric-section-four-subsection-two-container,
.electric-section-four-subsection-two-image-container,
.electric-section-four-subsection-two-copy-container,
.electric-section-four-subsection-two-subtitle,
.electric-section-four-subsection-two-paragraph-container,
.electric-section-four-subsection-two-paragraph,
.electric-section-four-subsection-three-container,
.electric-section-four-subsection-three-image-container,
.electric-section-four-subsection-three-copy-container,
.electric-section-four-subsection-three-subtitle,
.electric-section-four-subsection-three-paragraph-container,
.electric-section-four-subsection-three-paragraph {
 /*border: var(--temporary-border);*/
}

.electric-section-four-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas:
    "electric-section-four-title-container"
    "electric-section-four-subcontainer-one"
    "electric-section-four-subcontainer-two"
    "electric-section-four-subcontainer-three";
  justify-content: center;
  row-gap: var(--subcontainer-row-gap-mobile);
  column-gap: none;
  padding: 60px 0;
  background-color: var(--electric-section-four-container-background);
}

@media (min-width: 600px) {
  .electric-section-four-container {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto 40px auto auto auto auto;
    grid-template-areas:
      "electric-section-four-title-container electric-section-four-title-container electric-section-four-title-container"
      ". electric-section-four-subcontainer-two ."
      "electric-section-four-subcontainer-one electric-section-four-subcontainer-two electric-section-four-subcontainer-three"
      "electric-section-four-subcontainer-one electric-section-four-subcontainer-two electric-section-four-subcontainer-three"
      "electric-section-four-subcontainer-one electric-section-four-subcontainer-two electric-section-four-subcontainer-three"
      "electric-section-four-subcontainer-one electric-section-four-subcontainer-two electric-section-four-subcontainer-three";
    /*padding: var(--subcontainer-padding-desktop);*/
    row-gap: var(--subcontainer-row-gap-desktop);
    column-gap: var(--subcontainer-column-gap-desktop);
    padding: 8% 0;
  }
}

.electric-section-four-title-container {
  grid-area: electric-section-four-title-container;
  align-content: start;
  justify-content: center;
}

@media (min-width: 600px){
  .electric-section-four-title-container{
    padding-bottom: 3%;
  }
  
}

.electric-section-four-title {
  text-align: center;
}

@media (min-width: 600px) {
  .electric-section-four-title {
  }
}

/* subsection-one */

.electric-section-four-subcontainer-one{
  grid-area: electric-section-four-subcontainer-one;
  padding: 30px 30px 30px 0;
  background-color: var(--electric-section-four-subcontainer-background);
}

@media (min-width: 600px){
  .electric-section-four-subcontainer-one{
    padding: 0;
  }
}

.electric-section-four-subsection-one-container {
  grid-area: electric-section-four-subsection-one-container;
  display: grid;
  grid-template-columns: 1fr;
  align-content: start;
  row-gap: var(--subsection-container-row-gap-mobile);
  border-radius: 0 30px 30px 0;
  padding: var(--subsection-container-padding-mobile);
  background-image: var(--electric-section-four-subsection-background);
  box-shadow: var(--box-shadow-mobile)
}

@media (min-width: 600px) {
  .electric-section-four-subsection-one-container {
    padding: var(--subsection-container-padding-desktop);
    height: 100%;
    box-shadow: var(--box-shadow-desktop)
  }
}

.electric-section-four-subsection-one-image-container {
  display: grid;
  justify-content: center;
  align-content: center;
  padding-top: 40px;
}

@media (min-width: 600px) {
  .electric-section-four-subsection-one-image-container {
    padding: 8% 0;
  }
}

.electric-section-four-subsection-one-image {
  display: block;
  width: 100%;
}

@media (min-width: 600px) {
  .electric-section-four-subsection-one-image {

  }
}

.electric-section-four-subsection-one-copy-container {
  display: grid;
  align-content: start;
  row-gap: var(--copy-container-row-gap-mobile);
  padding: 30px 25px 40px 25px;
}

@media (min-width: 600px) {
  .electric-section-four-subsection-one-copy-container {
    row-gap: var(--copy-container-row-gap-desktop);
    padding: 0;
  }
}

.electric-section-four-subsection-one-subtitle {
  text-align: center;
}

@media (min-width: 600px) {
  .electric-section-four-subsection-one-subtitle {
  }
}

.electric-section-four-subsection-one-paragraph-container {
  display: grid;
  row-gap: var(--paragraph-container-row-gap-mobile);
}

@media (min-width: 600px) {
  .electric-section-four-subsection-one-paragraph-container {
    row-gap: var(--paragraph-container-row-gap-desktop);
  }
}

.electric-section-four-subsection-one-paragraph {
  text-align: center;
}

@media (min-width: 600px) {
  .electric-section-four-subsection-one-paragraph {
  }
}

/* SUBSECTION-TWO*/

.electric-section-four-subcontainer-two{
  grid-area: electric-section-four-subcontainer-two;
  padding: 30px 30px 30px 30px;
  background-color: var(--electric-section-four-subcontainer-background)
}

@media (min-width: 600px){
  .electric-section-four-subcontainer-two{
    padding: 0;
  }
}

.electric-section-four-subsection-two-container {
  grid-area: electric-section-four-subsection-two-container;
  display: grid;
  align-content: start;
  row-gap: var(--subsection-container-row-gap-mobile);
  border-radius: 30px 30px 30px 30px;
  padding: var(--subsection-container--padding-mobile);
  background-image: var(--electric-section-four-subsection-background);
  box-shadow: var(--electric-section-four-subsection-container-box-shadow);
}

@media (min-width: 600px) {
  .electric-section-four-subsection-two-container {
    padding: var(--subsection-container-padding-desktop);
    padding-bottom: 40px;
  }
}

.electric-section-four-subsection-two-image-container {
  display: grid;
  justify-content: center;
  align-content: center;
  padding-top: 12px;
}

@media (min-width: 600px) {
  .electric-section-four-subsection-two-image-container {
    padding-top: 0; 
  }
}

.electric-section-four-subsection-two-image {
  display: block;
  width: 100%;
}

@media (min-width: 600px) {
  .electric-section-four-subsection-two-image {
  }
}

.electric-section-four-subsection-two-copy-container {
  display: grid;
  align-content: start;
  row-gap: var(--copy-container-row-gap-mobile);
  padding: 0 25px 40px 25px;
}

@media (min-width: 600px) {
  .electric-section-four-subsection-two-copy-container {
    row-gap: var(--copy-container-row-gap-desktop);
    padding: 0;
  }
}

.electric-section-four-subsection-two-subtitle {
  text-align: center;
}

@media (min-width: 600px) {
  .electric-section-four-subsection-two-subtitle {
  }
}

.electric-section-four-subsection-two-paragraph-container {
  display: grid;
  row-gap: var(--paragraph-container-row-gap-mobile);
}

@media (min-width: 600px) {
  .electric-section-four-subsection-two-paragraph-container {
    row-gap: var(--paragraph-container-row-gap-desktop);
  }
}

.electric-section-four-subsection-two-paragraph {
  text-align: center;
}

@media (min-width: 600px) {
  .electric-section-four-subsection-two-paragraph {
  }
}

/* SUBSECTION-THREE */

.electric-section-four-subcontainer-three{
  grid-area: electric-section-four-subcontainer-three;
  padding: 30px 0 30px 30px;
  background-color: var(--electric-section-four-subcontainer-background);
}

@media (min-width: 600px){
  .electric-section-four-subcontainer-three{
    padding: 0;
  }
}

.electric-section-four-subsection-three-container {
  /* grid-area: electric-section-four-subsection-three-container; */
  display: grid;
  align-content: start;
  row-gap: var(--subsection-container-row-gap-mobile);
  border-radius: 30px 0 0 30px;
  padding: var(--subsection-container-padding-mobile);
  background-image:var(--electric-section-four-subsection-background);
  box-shadow: var(--electric-section-four-subsection-container-box-shadow)
}

@media (min-width: 600px) {
  .electric-section-four-subsection-three-container {
    padding: var(--subsection-container-padding-desktop);
    height: 100%;
    padding: 40px 40px 60px 40px
  }
}

.electric-section-four-subsection-three-image-container {
  display: grid;
  justify-content: center;
  align-content: center;
  padding-top: 40px;
}

@media (min-width: 600px) {
  .electric-section-four-subsection-three-image-container {
    padding: 8% 0;
  }
}

.electric-section-four-subsection-three-image {
  display: block;
  width: 100%;
}

@media (min-width: 600px) {
  .electric-section-four-subsection-three-image {
    
  }
}

.electric-section-four-subsection-three-copy-container {
  display: grid;
  align-content: start;
  row-gap: var(--copy-container-row-gap-mobile);
  padding: 30px 25px 40px 25px;
}

@media (min-width: 600px) {
  .electric-section-four-subsection-three-copy-container {
    row-gap: var(--copy-container-row-gap-desktop);
    padding: 0;
  }
}

.electric-section-four-subsection-three-subtitle {
  text-align: center;
}

@media (min-width: 600px) {
  .electric-section-four-subsection-three-subtitle {
  }
}

.electric-section-four-subsection-three-paragraph-container {
  display: grid;
  row-gap: var(--paragraph-container-row-gap-mobile);
}

@media (min-width: 600px) {
  .electric-section-four-subsection-three-paragraph-container {
    row-gap: var(--paragraph-container-row-gap-desktop);
  }
}

.electric-section-four-subsection-three-paragraph {
  text-align: center;
}

@media (min-width: 600px) {
  .electric-section-four-subsection-three-paragraph {
  }
}