
    .electric-section-four-container{
    padding: 15px;
    }
    
    .electric-section-four-container >*{
        border: solid  1px black;
    }
    
    .electric-section-four-subcontainer{
        display: grid;
        grid-template-columns: 1fr;
        justify-content: center;
        row-gap: 15px;
        padding: 25px
      
      }
  
    .electric-section-four-subcontainer > *{
          border: solid  1px black;
      }
      
      .electric-section-four-img-container{
          grid-column: 1/2;
          
      }

    .electric-section-four-img{
        width: 100%;
    }
      
    .electric-section-four-title{
        grid-column: 1/2;
         text-align: center;
      }

    .electric-section-four-content{
          grid-column: 1/2;
         text-align: justify;
      }
      
      .electric-section-four-small-content-container{
        grid-column: 1/2;
        display: grid;
        grid-template-columns: 1fr 3fr;
      }
      .electric-section-four-small-img{
        grid-column: 1/2;
        justify-self: center;
        align-self: center;
        width: 100%;
      }
      
      .electric-section-four-small-prg{
        grid-column:2/3;

      }

    .electric-section-four-btn{
        grid-column: 1/2;
        width:90px;
        height: 40px ;
        justify-self: center;
      }