.gas-section-five-container {
    padding: var(--container-padding-mobile);
}
  
.gas-section-five-subcontainer {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: 
    "gas-section-five-copy-container"
    "gas-section-five-img-container";
    justify-content: center;
    row-gap: var(--items-gap-mobile);
    padding: var(--subcontainer-padding-mobile);
}
  
.gas-section-five-subcontainer > * {
    border: var(--subcontainer-border-mobile);
}

@media (min-width:500px){
 .gas-section-five-subcontainer{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-areas: 
    "gas-section-five-copy-container gas-section-five-img-container";
    }

}

.gas-section-five-copy-container {
    grid-area: gas-section-five-copy-container;
    display: grid;
    justify-content: center;
    align-content: center;
    text-align: center;
    row-gap: var(--items-gap-mobile);
}
  
.gas-section-five-title {
    font-size: var(--title-size-mobile);
    background-color: var(--title-background-color-mobile);
}

.gas-section-five-paragraph {
    text-align: justify;
    font-size: var(--content-size-paragraph-mobile);
}
  
.gas-section-five-img-container {
   grid-area: gas-section-five-img-container;
   display: grid;
   align-content: center;
}
  
.gas-section-five-img {
    display: block;
    width: 100%;
    border-radius: 30px;
}