* {
  box-sizing: border-box;
  margin: 0;
  font-family: sans-serif;
}

:root {
  --container-padding-mobile: 40px;
  --container-padding-tablet: 60px;
  --container-padding-desktop: 80px;

  --container-border-mobile: 2px solid black;
  --container-border-tablet: 3px solid black;
  --container-border-desktop: 4px solid black;

  --container-background-color-mobile: coral;
  --container-background-color-tablet: plum;
  --container-background-color-desktop: limegreen;

  --subcontainer-padding-mobile: 15px;
  --subcontainer-padding-tablet: 25px;
  --subcontainer-padding-desktop: 35px;

  --subcontainer-border-mobile: 1px solid black;
  --subcontainer-border-tablet: 1.5px solid black;
  --subcontainer-border-desktop: 2px solid black;

  --subcontainer-background-color-mobile: lightsalmon;
  --subcontainer-background-color-tablet: pink;
  --subcontainer-background-color-desktop: 	lightgreen;

  --title-mobile: 20px;
  --title-tablet: 24px;
  --title-desktop: 26px;

  --content-paragraph-mobile: 14px;
  --content-paragraph-tablet: 16px;
  --content-paragraph-desktop: 18px;
}