.water-section-five-container,
.water-section-five-subcontainer,
.water-section-five-subsection-container,
.water-section-five-image-container,
.water-section-five-image,
.water-section-five-title-container,
.water-section-five-title,
.water-section-five-copy-container,
.water-section-five-paragraph-container,
.water-section-five-paragraph {
  /* border: var(--temporary-border); */
}

.water-section-five-container {
  display: grid;
  grid-template-columns: 1fr;
  padding: var(--container-padding-mobile);
  background: var(--water-section-container-background);
}

@media (min-width: 600px) {
  .water-section-five-container {
    /* padding: var(--container-padding-desktop); */
    padding: 5% 5% 0 5%;
  }
}

.water-section-five-subcontainer {
  display: grid;
  /* grid-template-columns: 1fr; */
  /* align-content: start; */
  row-gap: var(--subcontainer-row-gap-mobile);
  padding: 0;
}

@media (min-width: 600px) {
  .water-section-five-subcontainer {
    grid-template-columns: repeat(2, 1fr);
    /* column-gap: var(--subcontainer-column-gap-desktop); */
    column-gap: 5%;
    /* padding: var(--subcontainer-padding-desktop); */
    padding: 7% 5%;

    background: var(--water-section-five-subcontainer-background);
    border-radius: var(--water-section-five-subcontainer-border-radius);
  }
}

.water-section-five-subsection-container {
  display: grid;
  grid-template-columns: 1fr;
  align-content: start;
  row-gap: var(--subsection-container-row-gap-mobile);
  padding: var(--subsection-container-padding-mobile);
  background: var(--water-section-five-subsection-container-background);
  border-radius: var(--water-section-five-subsection-container-border-radius);
  box-shadow: var(--water-section-five-subsection-container-box-shadow);
}

@media (min-width: 600px) {
  .water-section-five-subsection-container {
    row-gap: var(--subsection-container-row-gap-desktop);
    /* padding: var(--subsection-container-padding-desktop); */
    padding: 10%;
  }
}

.water-section-five-image-container {
  display: grid;
  justify-content: center;
  align-content: center;
}

@media (min-width: 600px) {
  .water-section-five-image-container {

  }
}

.water-section-five-image {
  display: block;
  width: 100%;
}

@media (min-width: 600px) {
  .water-section-five-image {
    
  }
}

.water-section-five-title-container {

}

@media (min-width: 600px) {
  .water-section-five-title-container {
    
  }
}

.water-section-five-title {
  text-align: center;
  font-size: var(--title-font-size-mobile);
  font-weight: var(--title-font-weight-mobile);
}

@media (min-width: 600px) {
  .water-section-five-title {
    text-align: left;
    font-size: var(--title-font-size-desktop);
    font-weight: var(--title-font-weight-desktop);
  }
}

.water-section-five-copy-container {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: var(--copy-container-row-gap-mobile);
}

@media (min-width: 600px) {
  .water-section-five-copy-container {
    row-gap: var(--copy-container-row-gap-desktop);
  }
}

.water-section-five-paragraph-container {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: var(--paragraph-container-row-gap-mobile);
}

@media (min-width: 600px) {
  .water-section-five-paragraph-container {
    row-gap: var(--paragraph-container-row-gap-desktop);
  }
}

.water-section-five-paragraph {
  text-align: center;
  font-size: var(--paragraph-font-size-mobile);
  font-weight: var(--paragraph-font-weight-mobile);
}

@media (min-width: 600px) {
  .water-section-five-paragraph {
    text-align: left;
    font-size: var(--paragraph-font-size-desktop);
    font-weight: var(--paragraph-font-weight-desktop);
  }
}