.home-section-one-container,
.home-section-one-subcontainer,
.home-section-one-image-container,
.home-section-one-copy-container,
.home-section-one-title,
.home-section-one-subtitle,
.home-section-one-paragaph-container,
.home-section-one-paragraph,
.home-section-one-link {
  border: 1px dotted black;
}

.home-section-one-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas:
    "home-section-one-subcontainer-one"
    "home-section-one-subcontainer-two"
    "home-section-one-subcontainer-three";
  row-gap: 15px;
  /* ^in this rare case the container needs a row gap for mobile */
  column-gap: none;
  /* ^in this rare case the container needs a column gap for desktop */
  padding: var(--container-padding-mobile);
  background-color: var(--level1-background-color);
}

@media (min-width: 600px) {
  .home-section-one-container {
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas:
    "home-section-one-subcontainer-one home-section-one-subcontainer-two home-section-one-subcontainer-three";
    row-gap: none;
    /* ^in this rare case the container needs a row gap for mobile */
    column-gap: 30px;
    /* ^in this rare case the container needs a column gap for desktop */
    padding: var(--container-padding-desktop);
  }
}

.home-section-one-subcontainer {
  display: grid;
  grid-template-columns: 1fr;
  align-content: start;
  row-gap: var(--subcontainer-row-gap-mobile);
  padding: var(--subcontainer-padding-mobile);
  border: var(--subcontainer-border-mobile);
  background-color: var(--level2-background-color);
}

@media (min-width: 600px) {
  .home-section-one-subcontainer {

    padding: var(--subcontainer-padding-desktop);
  }
}

.home-section-one-subcontainer-one {
  grid-area: home-section-one-subcontainer-one;
}

.home-section-one-subcontainer-two {
  grid-area: home-section-one-subcontainer-two;
}

.home-section-one-subcontainer-three {
  grid-area: home-section-one-subcontainer-three;
}

.home-section-one-image-container {
  background-color: var(--level3-background-color);
}

.home-section-one-image {
  display: block;
  width: 100%;
}

.home-section-one-copy-container {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: var(--subcontainer-row-gap-mobile);
  background-color: var(--level3-background-color);
}

@media (min-width: 600px) {
  .home-section-one-copy-container {
    row-gap: 30px;
    /* ^harcoded because.. */
    /* var(--subcontainer-row-gap-desktop) DOES NOT EXIST */
  }
}

.home-section-one-title {
  text-align: center;
  font-size: var(--title-font-size-mobile);
  font-weight: var(--title-font-weight-mobile);
}

@media (min-width: 600px) {
  .home-section-one-title {
    text-align: left;
    font-size: var(--title-font-size-desktop);
    font-weight: var(--title-font-weight-desktop);
  }
}

.home-section-one-paragaph-container {  
  display: grid;
  grid-template-columns: 1fr;
  row-gap: var(--paragraph-container-row-gap-mobile);
}

@media (min-width: 600px) {
  .home-section-one-paragaph-container {
    row-gap: var(--paragraph-container-row-gap-desktop);
  }
}

.home-section-one-paragraph {
  text-align: center;
  font-size: var(--paragraph-font-size-mobile);
  font-weight: var(--paragraph-font-weight-mobile);
}

@media (min-width: 600px) {
  .home-section-one-paragraph {
    text-align: left;
    font-size: var(--paragraph-font-size-desktop);
    font-weight: var(--paragraph-font-weight-desktop);
  }
}

.home-section-one-paragraph-highlight {
  color: var(--red);
}

.home-section-one-link {
  justify-self: center;
  text-align: center;
  text-decoration: none;
  padding: var(--link-padding-mobile);
  color: var(--link-color-mobile);
  background-color: var(--link-background-color-mobile);
}

@media (min-width: 600px) {
  .home-section-one-link {
    justify-self: start;
    padding: var(--link-padding-desktop);
    color: var(--link-color-desktop);
    background-color: var(--link-background-color-desktop);
  }
}