.home-section-one-container,
.home-section-one-subcontainer,
.home-section-one-title-container,
.home-section-one-title,
.home-section-one-subsection-container,
.home-section-one-image-container,
.home-section-one-image,
.home-section-one-copy-container,
.home-section-one-subtitle,
.home-section-one-paragaph-container,
.home-section-one-paragraph,
.home-section-one-link-container,
.home-section-one-link {
  /* border: var(--temporary-border); */
}

.home-section-one-container {
  display: grid;
  padding: 6% 0;
  row-gap: 15px;
  background-color: var(--off-white);
}

@media (min-width: 600px) {
  .home-section-one-container {
    row-gap: 40px;
    padding: 4% 0 6% 0;
  }
}

.home-section-one-title-container {

}

@media (min-width: 600px) {
  .home-section-one-title-container {

  }
}

.home-section-one-title {
  text-align: center;
}

@media (min-width: 600px) {
  .home-section-one-title {

  }
}

.home-section-one-subcontainer {
  display: grid;
  grid-template-columns: 0.05fr 0.05fr 0.8fr 0.05fr 0.05fr;
  grid-template-areas:
    "home-section-one-subsection-container-one home-section-one-subsection-container-one home-section-one-subsection-container-one . ."
    ". home-section-one-subsection-container-two home-section-one-subsection-container-two home-section-one-subsection-container-two ."
    ". . home-section-one-subsection-container-three home-section-one-subsection-container-three home-section-one-subsection-container-three";
  row-gap: 40px;
  column-gap: 0;
}

@media (min-width: 600px) {
  .home-section-one-subcontainer {
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas:
    "home-section-one-subsection-container-one home-section-one-subsection-container-two home-section-one-subsection-container-three";
    row-gap: 0;
    column-gap: 4%;
  }
}

.home-section-one-subsection-container {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: var(--subcontainer-row-gap-mobile);
  /* padding: var(--subcontainer-padding-mobile); */
  padding: 0 25px 60px 25px;
  /* background-color: var(--level2-background-color); */
  background: var(--home-section-one-subsection-container-background);
  box-shadow: var(--box-shadow-mobile);
}

.home-section-one-subsection-container-one {
  grid-area: home-section-one-subsection-container-one;
  border-radius: var(--home-section-one-sub-container-one-border-radius);
  /* padding: var(--site-hero-container-padding-zero-left-mobile);  */
  /* padding: var(--site-copy-container-padding-mobile); */
  padding-top: 30px;
}

.home-section-one-subsection-container-two {
  grid-area: home-section-one-subsection-container-two;
  border-radius: var(--home-section-one-sub-container-two-border-radius);
  /* padding: var(--site-copy-container-padding-mobile); */
  /* margin: 30px 30px 30px 30px; */
  padding-top: 55px;
}

.home-section-one-subsection-container-three {
  grid-area: home-section-one-subsection-container-three;
  border-radius: var(--home-section-one-sub-container-three-border-radius);
  /* padding: var(--site-copy-container-padding-mobile); */
  /* margin: 30px 0 30px 30px; */
  padding-top: 60px;
}

@media (min-width: 600px) {
  /* THIS MEDIA QUERY HAS TO BE HERE BELOW ALL THE SEPARATE SUBCONTAINERS BECAUSE OF SPECIFICITY */
  .home-section-one-subsection-container {
    padding: 10% 10% 15% 10%;
  }
}

.home-section-one-image-container {
  display: grid;
  justify-content: center;
  align-content: center;
}

@media (min-width: 600px) {
  .home-section-one-image-container {

  }
}

.home-section-one-image {
  display: block;
  width: 100%;
}

@media (min-width: 600px) {
  .home-section-one-image {

  }
}

.home-section-one-copy-container {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: var(--subcontainer-row-gap-mobile);
}

@media (min-width: 600px) {
  .home-section-one-copy-container {
    row-gap: var(--subcontainer-row-gap-desktop);
  }
}

.home-section-one-subtitle {
  text-align: center;
}

@media (min-width: 600px) {
  .home-section-one-subtitle {
    text-align: left;
  }
}

.home-section-one-paragaph-container {  
  display: grid;
  grid-template-columns: 1fr;
  row-gap: var(--paragraph-container-row-gap-mobile);
}

@media (min-width: 600px) {
  .home-section-one-paragaph-container {
    row-gap: var(--paragraph-container-row-gap-desktop);
  }
}

.home-section-one-paragraph {
  text-align: center;
}

@media (min-width: 600px) {
  .home-section-one-paragraph {
    text-align: left;
  }
}

.home-section-one-link-container {
  justify-self: center;
  align-self: auto;
  padding-top: 10px;
}

@media (min-width: 600px) {
  .home-section-one-link-container {
    justify-self: auto;
    align-self: end;
    padding-top: 20px;
  }
}

.home-section-one-link {
  justify-self: center;
  text-align: center;
  text-decoration: none;
  padding: var(--link-padding-mobile);
  color: var(--link-color-mobile);
  background-color: var(--link-background-color-mobile);
  border-radius: var(--link-border-radius-mobile);
  font-family: var(--font-one);
  font-weight: var(--link-font-weight);
  font-size: var(--link-font-size-mobile);
  /* THIS IS A SPECIAL CASE FOR THE RED PILL-SHAPED LINKS */
}

@media (min-width: 600px) {
  .home-section-one-link {
    justify-self: start;
    padding: var(--link-padding-desktop);
    color: var(--link-color-desktop);
    background-color: var(--link-background-color-desktop);
    border-radius: var(--link-border-radius-desktop);
    font-size: var(--link-font-size-desktop);
    /* THIS IS A SPECIAL CASE FOR THE RED PILL-SHAPED LINKS */
  }
}