.gas-section-one-container,
.gas-section-one-subcontainer,
.gas-section-one-copy-container,
.gas-section-one-subtitle-container,
.gas-section-one-title,
.gas-section-one-title-span-number,
.gas-section-one-title-span-title,
.gas-section-one-paragraph-container,
.gas-section-one-paragraph,
.gas-section-one-image-container,
.gas-section-one-image {
  /* border: var(--temporary-border); */
}

.gas-section-one-container {
  display: grid;
  grid-template-columns: 1fr;
  
  /* padding: var(--container-padding-mobile); */
  padding: 50px 30px 0 30px;
  
  /* background-color: var(--level1-background-color); */
  background-color: #F9F9F9;
}

@media (min-width:600px) {
  .gas-section-one-container {
    /* padding: var(--container-padding-desktop); */
    padding: 7% 10% 0 10%;
  }
}

.gas-section-one-subcontainer {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas:
  "gas-section-one-copy-container"
  "gas-section-one-image-container";
  row-gap: var(--subcontainer-row-gap-mobile);
  column-gap: none;
  
  /* padding: var(--subcontainer-padding-mobile); */
  padding: 40px 20px 20px 20px;
  /* ^this is specific for section one because the top needs to be more down */

  /* border: var(--subcontainer-border-mobile); */
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  
  /* background-color: var(--level2-background-color); */
  background-image: linear-gradient(#FBABB2,#F9F9F9);
}

@media (min-width:600px) {
  .gas-section-one-subcontainer{
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas:
    "gas-section-one-image-container gas-section-one-copy-container";
    /* column-gap: var(--subcontainer-column-gap-desktop); */
    column-gap: 5%;
    /* padding: var(--subcontainer-padding-desktop); */
    padding: 8% 8% 0 8%;
  }
}

.gas-section-one-copy-container {
  grid-area: gas-section-one-copy-container;
  display: grid;
  align-content: start;
  row-gap: var(--copy-container-row-gap-mobile);
  /* background-color: var(--level3-background-color); */
}

@media (min-width: 600px) {
  .gas-section-one-copy-container {
    align-content: center;
    row-gap: var(--copy-container-row-gap-desktop);
  }
}

.gas-section-one-title-container{
}

@media (min-width: 600px){
  .gas-section-one-title-container{
   
  }
}

.gas-section-one-title {
  display: flex;
  flex-direction: column;
  text-align: center;
  row-gap: var(--gas-title-row-gap-mobile);
  font-size: var(--gas-title-font-size-mobile);
  font-weight: var(--gas-title-font-weight-mobile);
}

@media (min-width: 600px) {
  .gas-section-one-title {
    flex-direction: row;
    row-gap: none;
    text-align: left;
    column-gap: var(--gas-title-column-gap-desktop);
    font-size: var(--gas-title-font-size-desktop);
    font-weight: var(--gas-title-font-weight-desktop);
  }
}

.gas-section-one-title-span-number{
}

.gas-section-one-title-span-title{
}

.gas-section-one-paragraph-container {
  display: grid;
  row-gap: var(--paragraph-container-row-gap-mobile);
}

@media (min-width: 600px) {
  .gas-section-one-paragraph-container {
    row-gap: var(--paragraph-container-row-gap-desktop);
  }
}

.gas-section-one-paragraph {
  text-align: center;
  font-size: var(--paragraph-font-size-mobile);
  font-weight: var(--paragraph-font-weight-mobile);
}

@media (min-width: 600px) {
  .gas-section-one-paragraph {
    text-align: left;
    font-size: var(--paragraph-font-size-desktop);
    font-weight: var(--paragraph-font-weight-desktop);
  }
}

.gas-section-one-image-container {
  grid-area: gas-section-one-image-container;
  display: grid;
  align-content: start;
  justify-content: center;
  /* background-color: var(--level3-background-color); */
}

@media (min-width: 600px) {
  .gas-section-one-image-container {
    align-content: center;   
  }
}

.gas-section-one-image {
  display: block;
  width: 100%;
}

@media (min-width: 600px) {
  .gas-section-one-image {
  }
}
