.home-section-two-container,
.home-section-two-subcontainer,
.home-section-two-title-container,
.home-section-two-subsection,
.home-section-two-image-container,
.home-section-two-image,
.home-section-two-copy-container,
.home-section-two-title,
.home-section-two-subtitle,
.home-section-two-paragaph-container,
.home-section-two-paragraph {
  border: var(--temporary-border);
}

.home-section-two-container {
  display: grid;
  grid-template-columns: 1fr;
  background-color: var(--off-white);
}

@media (min-width: 600px) {
  .home-section-two-container {
    padding: 0 5% 5% 0;
  }
}

.home-section-two-subcontainer {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas:
    "home-section-two-title-container"
    "home-section-two-subsection-one"
    "home-section-two-subsection-two"
    "home-section-two-subsection-three"
    "home-section-two-subsection-four";
  border-top-right-radius: 5%;
  border-bottom-right-radius: 5%;
  background-image: var(--home-section-two-container-background-image);
  box-shadow: var( --site-container-box-shadow-mobile);
}

@media (min-width: 600px) {
  .home-section-two-subcontainer {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, auto);
    grid-template-areas:
      "home-section-two-title-container home-section-two-title-container"
      "home-section-two-subsection-one home-section-two-subsection-three"
      "home-section-two-subsection-two home-section-two-subsection-four";
  }
}

.home-section-two-title-container {
  grid-area: home-section-two-title-container;
  padding: 0;
  background-color: var(--home-section-two-background-color);
}

@media screen {
  .home-section-two-title-container {
    padding: 2% 0 0 0;
  }
}

.home-section-two-title {
  text-align: center;
  font-size: var(--title-font-size-mobile);
  font-weight: var(--title-font-weight-mobile);
}

@media (min-width: 600px) {
  .home-section-two-title {
    font-size: var(--title-font-size-desktop);
    font-weight: var(--title-font-weight-desktop);
  }
}

.home-section-two-subsection {
  display: grid;
  grid-template-columns: 1fr;
  align-content: start;
  row-gap: var(--subcontainer-row-gap-mobile);
  padding: var(--subcontainer-padding-mobile);
  background-color: var(--home-section-two-background-color);
}

@media (min-width: 600px) {
  .home-section-two-subsection {
    row-gap: var(--subcontainer-row-gap-desktop);
    /* padding: var(--subcontainer-padding-desktop); */
    padding: 10%;
  }
}

.home-section-two-subsection-one {
  grid-area: home-section-two-subsection-one;
}

.home-section-two-subsection-two {
  grid-area: home-section-two-subsection-two;
}

.home-section-two-subsection-three {
  grid-area: home-section-two-subsection-three;
}

.home-section-two-subsection-four {
  grid-area: home-section-two-subsection-four;
}

.home-section-two-subsection-one,
.home-section-two-subsection-two,
.home-section-two-subsection-three {
  border-bottom: 1px solid black;
  /* ^ this is hardcoded.. */
}

@media (min-width: 600px) {
  .home-section-two-subsection-one,
  .home-section-two-subsection-two,
  .home-section-two-subsection-three {
    border-bottom: inherit;
    /* ^ this is to remove the border */
  }
}

.home-section-two-image-container {
  display: none;
  /* are we sure we don't want the images in mobile? */
  /* background-color: var(--level3-background-color); */
}

@media (min-width: 600px) {
  .home-section-two-image-container {
    display: grid;
    justify-content: start;
  }
}

.home-section-two-image {
  display: block;
  width: 100%;
  max-width: 60%
  /* ^this is hard coded - we need to deal with this */
}

@media (min-width: 600px) {
  .home-section-two-image {
    
  }
}

.home-section-two-copy-container {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: var(--copy-container-row-gap-mobile);
  /* background-color: var(--level3-background-color); */
}

@media (min-width: 600px) {
  .home-section-two-copy-container {
    row-gap: var(--copy-container-row-gap-desktop);
  }
}

.home-section-two-subtitle {
  text-align: center;
  font-size: var(--subtitle-font-size-mobile);
  font-weight: var(--subtitle-font-weight-mobile);
  /* background-color: var(--level3-background-color); */
}

@media (min-width: 600px) {
  .home-section-two-subtitle {
    text-align: left;
    font-size: var(--subtitle-font-size-desktop);
    font-weight: var(--subtitle-font-weight-desktop);
  }
}

.home-section-two-paragraph-container {
  row-gap: var(--paragraph-container-row-gap-mobile);
  /* background-color: var(--level3-background-color); */
}

@media (min-width: 600px) {
  .home-section-two-paragraph-container {
    row-gap: var(--paragraph-container-row-gap-desktop);
  }
}

.home-section-two-paragraph {
  text-align: center;
  font-size: var(--paragraph-font-size-mobile);
  font-weight: var(--paragraph-font-weight-mobile);
}

@media (min-width: 600px) {
  .home-section-two-paragraph {
    text-align: left;
    font-size: var(--paragraph-font-size-desktop);
    font-weight: var(--paragraph-font-weight-desktop);
  }
}