.electric-section-two-container,
.electric-section-two-subcontainer,
.electric-section-two-title-container,
.electric-section-two-title,
.electric-section-two-subsection-container,
.electric-section-two-subsection-image-container,
.electric-section-two-subsection-copy-container,
.electric-section-two-subsection-subtitle,
.electric-section-two-subsection-paragraph-container,
.electric-section-two-subsection-paragraph {
 /* border: var(--temporary-border);*/
}

/*****CONTAINER*****/

.electric-section-two-container {
  display: grid;
  grid-template-columns: 0.1fr 0.9fr;
  grid-template-rows: auto auto;
  grid-template-areas: 
   "electric-section-two-title-container electric-section-two-title-container"
   ". electric-section-two-subcontainer";
  /*padding: var(--container-padding-mobile);*/
  padding: 15px 0 75px 0;
  background-color: var(--electric-section-two-container-background);
}

@media (min-width: 600px) {
  .electric-section-two-container {
    grid-template-columns: 1fr;
    padding: var(--container-padding-desktop);
    padding: 3% 0 6.5% 5%;
  }
}

.electric-section-two-subcontainer {
  grid-area: electric-section-two-subcontainer;
  display: grid; 
  grid-template-columns: 1fr;
  row-gap: var(--subcontainer-row-gap-mobile);
  padding: var(--subcontainer-padding-mobile);
  background-color: var(--electric-section-two-subcontainer-background);
  border-radius: 30px 0 0px 30px;
}

@media (min-width: 600px) {
  .electric-section-two-subcontainer {
    row-gap: var(--subcontainer-row-gap-desktop);
    row-gap: 40px;
    padding: var(--subcontainer-padding-desktop);
    padding: 60px 30px;
  }
}

/*****SECTION-TITLE*****/
.electric-section-two-title-container {
  grid-area: electric-section-two-title-container;
  padding: 40px 0 30px 0;
}

@media (min-width: 600px) {
  .electric-section-two-title-container {
    padding: 5% 0 5% 0;
  }
}

.electric-section-two-title {
  text-align: center;
}

@media (min-width: 600px) {
  .electric-section-two-title {
  }
}

/*******SUBSECTION(ONE-TWO)********/

.electric-section-two-subsection-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas:
    "electric-section-two-subsection-image-container"
    "electric-section-two-subsection-copy-container"
    "electric-section-two-subsection-subtitle"
    "electric-section-two-horizontal-line";
  row-gap: var(--subsection-container-row-gap-mobile);
  row-gap: 30px;
  column-gap: none;
  padding: var(--subsection-container-padding-mobile);
}

@media (min-width: 600px) {
  .electric-section-two-subsection-container {
    grid-template-columns: 2fr 1fr;
    grid-template-areas:
      "electric-section-two-subsection-copy-container electric-section-two-subsection-image-container"
      "electric-section-two-subsection-copy-container electric-section-two-subsection-subtitle"
      "electric-section-two-horizontal-line electric-section-two-horizontal-line";
    row-gap: 30px;
    column-gap: var(--subsection-container-column-gap-desktop);
    padding: var(--subsection-container-padding-desktop);
    padding: 0 6%;
  }
}

.electric-section-two-subsection-copy-container {
  grid-area: electric-section-two-subsection-copy-container;
  display: grid;
  align-content: start;
  row-gap: var(--copy-container-row-gap-mobile);
  row-gap: 30px;
}

@media (min-width: 600px) {
  .electric-section-two-subsection-copy-container {
    align-content: center;
    row-gap: var(--copy-container-row-gap-desktop);
  }
}

.electric-section-two-subsection-title {
  text-align: center;
}

@media (min-width: 600px) {
  .electric-section-two-subsection-title {
    text-align: left;
  }
}

.electric-section-two-subsection-subtitle {
  grid-area: electric-section-two-subsection-subtitle;
  text-align: center;
  padding-bottom: 30px;/*be aware of changin the name of title*/
}

@media (min-width: 600px) {
  .electric-section-two-subsection-subtitle {
    text-align: left;
    justify-self: center;
    padding-bottom: 10%;
  }
}

.electric-section-two-subsection-paragraph-container {
  display: grid;
  row-gap: var(--copy-container-row-gap-mobile);
}

@media (min-width: 600px) {
  .electric-section-two-subsection-paragraph-container {
    row-gap: var(--copy-container-row-gap-desktop);
  }
}

.electric-section-two-subsection-paragraph {
  text-align: center;
}

@media (min-width: 600px) {
  .electric-section-two-subsection-paragraph {
    text-align: left;
  }
}

.electric-section-two-subsection-image-container {
  grid-area: electric-section-two-subsection-image-container;
  display: grid;
  justify-content: center;
  align-content: center;
}

@media (min-width: 600px) {
  .electric-section-two-subsection-image-container {
    
  }

  .electric-section-two-subsection-two-image-container{
    padding-bottom: 4%;
  }
}

.electric-section-two-subsection-image {
  display: block;
  width: 70%;
  justify-self: center;
  align-self: center;
}

@media (min-width: 600px) {
  .electric-section-two-subsection-image {
    width: 100%;
  }
}

.electric-section-two-horizontal-line{
  grid-area: electric-section-two-horizontal-line;
  display: block;
  width: 100%;
  background-color: black;
  height: 1px;
}

@media (min-width: 600px){
  .electric-section-two-horizontal-line{
    display: block;
    width: 100%;
    background-color: black;
    height: 1px;
  }
}

  /*******SUBSECTION-THREE********/

.electric-section-two-subsection-three-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas:
    "electric-section-two-subsection-three-image-container"
    "electric-section-two-subsection-three-copy-one-container"
    "electric-section-two-subsection-three-copy-two-container";
  row-gap: var(--subsection-container-row-gap-mobile);
  row-gap: 30px;
  column-gap: none;
  padding: var(--subsection-container-padding-mobile);
  padding: 30px;
}

@media (min-width: 600px) {
  .electric-section-two-subsection-three-container {
    grid-template-columns: 2fr 1fr;
    grid-template-rows: auto auto;
    grid-template-areas:
      "electric-section-two-subsection-three-copy-one-container electric-section-two-subsection-three-image-container"
      "electric-section-two-subsection-three-copy-two-container electric-section-two-subsection-three-copy-two-container";
    row-gap: 30px;
    column-gap: var(--subsection-container-column-gap-desktop);
    padding: var(--subsection-container-padding-desktop);
    padding: 0 6%;
  }
}

.electric-section-two-subsection-three-copy-one-container{
  grid-area: electric-section-two-subsection-three-copy-one-container;
  display: grid;
  align-content: start;
  row-gap: var(--copy-container-row-gap-mobile);
}

@media (min-width: 600px) {
  .electric-section-two-subsection-three-copy-one-container {
    align-content: center;
    row-gap: var(--copy-container-row-gap-desktop);
  }
}

.electric-section-two-subsection-three-copy-two-container{
  grid-area: electric-section-two-subsection-three-copy-two-container;
  display: grid;
  align-content: start;
  row-gap: var(--copy-container-row-gap-mobile);
  padding-bottom: 30px
}

@media (min-width: 600px) {
  .electric-section-two-subsection-three-copy-two-container {
    align-content: center;
    row-gap: var(--copy-container-row-gap-desktop);
    padding: 0;
  }
}

.electric-section-two-subsection-three-subtitle-one {
  text-align: center;
}

@media (min-width: 600px) {
  .electric-section-two-subsection-three-subtitle-one {
    text-align: left;
  }
}

.electric-section-two-subsection-three-subtitle-two {
  text-align: center;
}

@media (min-width: 600px) {
  .electric-section-two-subsection-three-subtitle-two {
    text-align: left;
  }
}

.electric-section-two-subsection-three-image-container{
  grid-area: electric-section-two-subsection-three-image-container;
  display: grid;
  justify-content: center;
  align-content: center;
}

@media (min-width: 600px){
  .electric-section-two-subsection-three-image-container{
    padding-bottom: 4%;
  }
}
