
/* CSS FROM homepage-mobile.css */
/****HERO*******/
.home-hero-container{
  grid-area: hero;
  display: grid;
  grid-template: repeat(2,auto)/repeat(1,1fr);
  background-color: var(--green);
}

.home-hero-img-container{
  grid-column: 1/2;
  grid-row: 1/2;
  width: 100%;
}

.home-hero-img{
  width: 100%;
}

.home-hero-content-container{
  grid-column: 1/2;
  grid-row:2/3;
}

/*
/* CSS FROM homepage-desktop.css /
/***HERO/
.hero-container {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  padding: 2%;
}

.hero-img-container {
  grid-column: 1/6;
}

.hero-img {
  width: 100%;
}

.hero-content-container {
  grid-column: 6/9;
  justify-self: center;
  /*when the desktop size get smallet this css won't make sence/
  align-self: center;
}*/