.home-hero-container,
.home-hero-subcontainer,
.home-hero-image-container,
.home-hero-image,
.home-hero-copy-container,
.home-hero-title,
.home-hero-subtitle,
.home-hero-paragraph-container,
.home-hero-paragraph,
.home-hero-link {
  /* border: var(--temporary-border); */
}

.home-hero-container {
  display: grid;
  grid-template-columns: 1fr;
  background: var(--home-hero-container-background);
}

@media (min-width: 600px) {
  .home-hero-container {
    
  }
}

.home-hero-subcontainer {
  display: grid;
  grid-template-columns: 0.1fr 0.9fr;
  grid-template-rows: auto auto;
  grid-template-areas: 
    "home-hero-image-container home-hero-image-container"
    ". home-hero-copy-container";
  row-gap: 30px;
  padding: 30px 0;
}

@media (min-width: 600px) {
  .home-hero-subcontainer {
    grid-template-columns: 1fr 1.3fr;
    grid-template-areas:
      "home-hero-image-container home-hero-copy-container";
    column-gap: 3%;
    padding: 8% 0;
  }
}

.home-hero-image-container {
  grid-area: home-hero-image-container;
  display: grid;
  justify-content: center;
  align-content: center;
}

@media (min-width: 600px) {
  .home-hero-image-container {

  }
}

.home-hero-image {
  display: block;
  width: 100%;
}

@media (min-width: 600px) {
  .home-hero-image {

  }
}

.home-hero-copy-container {
  grid-area: home-hero-copy-container;
  display: grid;
  align-content: center;
  padding: 50px 70px 50px 50px;
  row-gap: 15px;
  background: var(--home-hero-copy-container-background);
  border-radius: var(--home-hero-copy-container-border-radius);
  box-shadow: var(--box-shadow-mobile);
}

@media (min-width: 600px) {
  .home-hero-copy-container {
    padding: 8%;
  }
}

.home-hero-title {
  text-align: center;
}

@media (min-width: 600px) {
  .home-hero-title {
    text-align: left;
  }
}

.home-hero-subtitle {
  text-align: center;
  font-size: var(--hero-subtitle-font-size-mobile);
  font-weight: var(--hero-subtitle-font-weight-mobile);
}

@media (min-width: 600px) {
  .home-hero-subtitle {
    text-align: left;
    font-size: var(--hero-subtitle-font-size-desktop);
    font-weight: var(--hero-subtitle-font-weight-desktop);
  }
}

.home-hero-paragraph-container {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: var(--paragraph-container-row-gap-mobile);
}

@media (min-width: 600px) {
  .home-hero-paragraph-container {
    row-gap: var(--paragraph-container-row-gap-desktop);
  }
}

.home-hero-paragraph {
  text-align: center;
}

@media (min-width: 600px) {
  .home-hero-paragraph {
    text-align: left;
  }
}

.home-hero-link {
  justify-self: center;
  text-align: center;
  text-decoration: none;
  /* padding: var(--link-padding-mobile); */
  padding: 10px 40px;
  border-radius: var(--link-border-radius-mobile);
  color: var(--link-color-mobile);
  background-color: var(--link-background-color-mobile);
  font-family: var(--font-one);
  font-weight: var(--link-font-weight);
  font-size: var(--link-font-size-mobile);
  /* THIS IS A SPECIAL CASE FOR THE RED PILL-SHAPED LINKS */
}

@media (min-width: 600px) {
  .home-hero-link {
    justify-self: start;
    /* padding: var(--link-padding-desktop); */
    padding: 10px 40px;
    border-radius: var(--link-border-radius-desktop);
    color: var(--link-color-desktop);
    background-color: var(--link-background-color-desktop);
    font-size: var(--link-font-size-desktop);
    /* THIS IS A SPECIAL CASE FOR THE RED PILL-SHAPED LINKS */
  }
}