.water-section-four-container,
.water-section-four-subcontainer,
.water-section-four-subsection-container-one,
.water-section-four-subsection-container-two,
.water-section-four-subsection-container-three,
.water-section-four-title-container,
.water-section-four-title,
.water-section-four-subtitle,
.water-section-four-copy-container,
.water-section-four-paragraph-container,
.water-section-four-paragraph,
.water-section-four-list,
.water-section-four-list-item,
.water-section-four-image-container,
.water-section-four-image,
.water-section-four-link {
  /* border: var(--temporary-border); */
}

.water-section-four-container {
  display: grid;
  grid-template-columns: 1fr;
  padding: var(--container-padding-mobile);
  background: var(--water-section-container-background);
  padding: 0px 30px 70px 30px;
}

@media (min-width: 600px) {
  .water-section-four-container {
    /* padding: var(--container-padding-desktop); */
    padding: 5% 5% 0 5%;
  }
}

.water-section-four-subcontainer {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas: 
    "water-section-four-subsection-container-one"
    "water-section-four-subsection-container-two"
    "water-section-four-subsection-container-three";
  /* row-gap: var(--subcontainer-row-gap-mobile); */
  row-gap: 50px;
  /* padding: var(--subcontainer-padding-mobile); */
  padding: 40px 20px;
  background: var(--water-section-four-subcontainer-background);
  border-radius: var(--water-section-four-subcontainer-border-radius);
}

@media (min-width: 600px) {
  .water-section-four-subcontainer {
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: 
      "water-section-four-subsection-container-one water-section-four-subsection-container-two"
      "water-section-four-subsection-container-one water-section-four-subsection-container-two"
      "water-section-four-subsection-container-three water-section-four-subsection-container-three";
    /* row-gap: var(--subcontainer-row-gap-desktop); */
    row-gap: 50px;
    /* column-gap: var(--subcontainer-column-gap-desktop); */
    column-gap: 5%;
    /* padding: var(--subcontainer-column-gap-desktop); */
    padding: 7%;
  }
}

.water-section-four-subsection-container-one {
  grid-area: water-section-four-subsection-container-one;
  display: grid;
  row-gap: 15px;
  /* RARE CASE ^gap between NESTED title container and copy container */
}

@media (min-width: 600px) {
  .water-section-four-subsection-container-one {
    row-gap: 30px;
    /* RARE CASE ^gap between NESTED title container and copy container */
  }
}

.water-section-four-subsection-container-two {
  grid-area: water-section-four-subsection-container-two;
}

@media (min-width: 600px){
  .water-section-four-subsection-container-two {
    align-self: center;
    /* RARE CASE ^image container is nested inside this */
  }
}

.water-section-four-subsection-container-three {
  grid-area: water-section-four-subsection-container-three;
}

.water-section-four-title-container {
  display: grid;
  grid-template-columns: 1fr;
  align-content: start;
  /* row-gap: var(--title-container-row-gap-mobile); */
  row-gap: 25px;
}

@media (min-width: 600px) {
  .water-section-four-title-container {
    row-gap: var(--title-container-row-gap-desktop);
  }
}

.water-section-four-title {
  text-align: center;
}

@media (min-width: 600px) {
  .water-section-four-title {
  }
}

.water-section-four-subtitle {
  text-align: center;
}

@media (min-width: 600px) {
  .water-section-four-subtitle {
    text-align: left;
  }
}

.water-section-four-copy-container {
  display: grid;
  grid-template-columns: 1fr;
  align-content: start;
  row-gap: var(--subsection-container-row-gap-mobile);
}

@media (min-width: 600px) {
  .water-section-four-copy-container {
    row-gap: var(--copy-container-row-gap-desktop);
  }
}

.water-section-four-paragraph-container {
  display: grid;
  grid-template-columns: 1fr;
  align-content: start;
  row-gap: var(--paragraph-container-row-gap-mobile);
}

@media (min-width: 600px) {
  .water-section-four-paragraph-container {
    row-gap: var(--paragraph-container-row-gap-desktop);
  }
}

.water-section-four-paragraph {
  text-align: left;
}

@media (min-width: 600px) {
  .water-section-four-paragraph {
  }
}

.water-section-four-list {
  padding-left: 20px;
  list-style: decimal;
}

@media (min-width: 600px) {
  .water-section-four-list {
    
  }
}

.water-section-four-list-item {
}

@media (min-width: 600px) {
  .water-section-four-list-item {
  }
}

.water-section-four-image-container {
  display: grid;
  justify-content: center;
  align-content: center;
}

@media (min-width: 600px) {
  .water-section-four-image-container  {
    
  }
}

.water-section-four-image {
  display: block;
  width: 100%;
}

@media (min-width: 600px) {
  .water-section-four-image  {
    
  }
}

.water-section-four-link {
  color: inherit;
}

@media (min-width: 600px) {
  .water-section-four-link {
    
  }
}