.water-section-four-container,
.water-section-four-title,
.water-section-four-subtitle {
  border: 1px dotted black;
}

.water-section-four-container {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 20px;
  padding: 50px;
  /* ^ temporary values */
}

.water-section-four-title {
  text-align: center;
  font-size: 1.6rem;
}

.water-section-four-subtitle {
  text-align: center;
  font-size: 1.4rem;
  font-weight: 400;
}