.home-section-four-container,
.home-section-four-subcontainer,
.home-section-four-copy-container,
.home-section-four-title,
.home-section-four-subtitle,
.home-section-four-paragaph-container,
.home-section-four-paragraph {
  border: 1px dotted black;
}

.home-section-four-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas:
    "home-section-four-subcontainer-title"
    "home-section-four-subcontainer-one"
    "home-section-four-subcontainer-two"
    "home-section-four-subcontainer-three"
    "home-section-four-subcontainer-four";
  padding: var(--container-padding-mobile);
  background-color: var(--level1-background-color);
}

@media (min-width: 500px) {
  .home-section-four-container {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, auto);
    grid-template-areas:
      "home-section-four-subcontainer-title home-section-four-subcontainer-title"
      "home-section-four-subcontainer-one home-section-four-subcontainer-three"
      "home-section-four-subcontainer-two home-section-four-subcontainer-four";
    padding: var(--container-padding-desktop);
  }  
}

.home-section-four-subcontainer {
  display: grid;
  grid-template-columns: 1fr;
  align-content: start;
  padding: var(--subcontainer-padding-mobile);
  background-color: var(--level2-background-color);
}

@media (min-width: 500px) {
  .home-section-four-subcontainer {
    padding: var(--subcontainer-padding-desktop);
  }
}

.home-section-four-subcontainer-title {
  grid-area: home-section-four-subcontainer-title;
}

.home-section-four-subcontainer-one {
  grid-area: home-section-four-subcontainer-one;
}

.home-section-four-subcontainer-two {
  grid-area: home-section-four-subcontainer-two;
}

.home-section-four-subcontainer-three {
  grid-area: home-section-four-subcontainer-three;
}

.home-section-four-subcontainer-four {
  grid-area: home-section-four-subcontainer-four;
}

.home-section-four-subcontainer-one,
.home-section-four-subcontainer-two,
.home-section-four-subcontainer-three {
  border-bottom: 1px solid black;
}

@media (min-width: 500px) {
  .home-section-four-subcontainer-one,
  .home-section-four-subcontainer-two,
  .home-section-four-subcontainer-three {
    border-bottom: none;
  }
}

.home-section-four-title {
  text-align: center;
  font-size: var(--title-font-size-mobile);
  font-weight: var(--title-font-size-mobile);
}

@media (min-width: 500px) {
  .home-section-four-title {
    font-size: var(--title-font-size-desktop);
    font-weight: var(--title-font-weight-desktop);
  }
}

.home-section-four-copy-container {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: var(--copy-container-row-gap-mobile);
}

@media (min-width: 500px) {
  .home-section-four-copy-container {
    row-gap: var(--copy-container-row-gap-desktop);
  }
}

.home-section-four-subtitle {
  text-align: center;
  font-size: var(--subtitle-font-size-mobile);
  font-weight: var(--subtitle-font-weight-mobile);
}

@media (min-width: 500px) {
  .home-section-four-subtitle {
    text-align: left;
    font-size: var(--subtitle-font-size-desktop);
    font-weight: var(--subtitle-font-weight-desktop);
  }
}

.home-section-four-paragraph-container {
  row-gap: var(--paragraph-container-row-gap);
}

@media (min-width: 500px) {
  .home-section-four-paragraph-container {

  }
}

.home-section-four-paragraph {
  text-align: center;
  font-size: var(--paragraph-font-size-mobile);
  font-weight: var(--paragraph-font-weight-mobile);
}

@media (min-width: 500px) {
  .home-section-four-paragraph {
    text-align: left;
    font-size: var(--paragraph-font-size-desktop);
    font-weight: var(--paragraph-font-weight-desktop);
  }
}