.electric-section-one-container,
.electric-section-one-subcontainer,
.electric-section-one-title-container,
.electric-section-one-title,
.electric-section-one-subsection-container,
.electric-section-one-subsection-image-container,
.electric-section-one-subsection-copy-container,
.electric-section-one-subsection-subtitle,
.electric-section-one-subsection-paragraph-container,
.electric-section-one-subsection-paragraph {
 /* border: var(--temporary-border);*/
}

.electric-section-one-container {
  display: grid;
  grid-template-columns: 1fr;
  padding: var(--container-padding-mobile);
  background-image: var(--electric-section-one-container-background); 
}

@media (min-width: 600px) {
  .electric-section-one-container {
    padding: var(--container-padding-desktop); 
  }
}

.electric-section-one-subcontainer {
  display: grid;
  grid-template-columns: 1fr;
  /*row-gap: var(--subcontainer-row-gap-mobile);*/
  padding: var(--subcontainer-padding-mobile);
  padding: 20px 20px 40px 20px;
  /*background-color: var(--level2-background-color);*/
}

@media (min-width: 600px){
  .electric-section-one-subcontainer {
   /* row-gap: var(--subcontainer-row-gap-desktop);*/
    padding: var(--subcontainer-padding-desktop);
    padding: 5%;
  }
}

.electric-section-one-title-container {
  padding: 20px 0;
 /* background-color: var(--level3-background-color);*/
}

@media (min-width: 600px) {
  .electric-section-one-title-container {
    padding: 3% 0 4% 0;
  }
}

.electric-section-one-title {
  text-align: center;
}

@media (min-width: 600px) {
  .electric-section-one-title {
    
  }
}

.electric-section-one-subsection-container{
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas:
    "electric-section-one-subsection-image-container"
    "electric-section-one-subsection-copy-container";
  row-gap: var(--subsection-container-row-gap-mobile);
  column-gap: none;
  padding: var(--subsection-container-padding-mobile);
}

@media (min-width: 600px) {
  .electric-section-one-subsection-container{
    grid-template-columns: 1fr 2fr;
    grid-template-areas:
    "electric-section-one-subsection-image-container electric-section-one-subsection-copy-container";
    column-gap: var(--subsection-container-column-gap-desktop);
    padding: var(--subsection-container-padding-desktop);
  }

  .electric-section-one-subsection-one-container{
    padding-bottom: 0;
  }
}

.electric-section-one-subsection-image-container{
  grid-area: electric-section-one-subsection-image-container;
  display: grid;
  justify-content: center;
  align-content: center;
  padding: 10px;
}

.electric-section-one-subsection-three-image-container{
  padding: 55px 0 30px 0;
}

@media (min-width: 600px) {
  .electric-section-one-subsection-image-container {
    padding: 0;
  }
}

.electric-section-one-subsection-image {
  display: block;
  width: 70%;
  justify-self: center;
}

@media (min-width: 600px) {
  .electric-section-one-subsection-image {
    display: block;
    width: 100%;
  }
}

.electric-section-one-subsection-copy-container{
  grid-area: electric-section-one-subsection-copy-container;
  display: grid;
  grid-template-columns: 1fr;
  align-content: center;
  row-gap: var(--copy-container-row-gap-mobile);
}

@media (min-width: 600px) {
  .electric-section-one-subsection-copy-container {
    row-gap: var(--copy-container-row-gap-desktop);
  }
}

.electric-section-one-subsection-subtitle {
  text-align: center;
}

@media (min-width: 600px) {
  .electric-section-one-subsection-subtitle {
    text-align: left;
  }
}

.electric-section-one-subsection-paragraph {
  text-align: center;
}

@media (min-width: 600px) {
  .electric-section-one-subsection-paragraph {
    text-align: left;
  }
}