.electric-section-one-container,
.electric-section-one-subcontainer,
.electric-section-one-title,
.electric-section-one-part-one-container,
.electric-section-one-part-one-image-container,
.electric-section-one-part-one-copy-container,
.electric-section-one-part-one-subtitle,
.electric-section-one-part-one-paragraph-container,
.electric-section-one-part-one-paragraph,
.electric-section-one-part-two-container,
.electric-section-one-part-two-image-container,
.electric-section-one-part-two-copy-container,
.electric-section-one-part-two-subtitle,
.electric-section-one-part-two-paragraph-container,
.electric-section-one-part-two-paragraph,
.electric-section-one-part-three-container,
.electric-section-one-part-three-image-container,
.electric-section-one-part-three-copy-container,
.electric-section-one-part-three-subtitle,
.electric-section-one-part-three-paragraph-container,
.electric-section-one-part-three-paragraph{
    border: dotted 1px black;
}

.electric-section-one-container {
  display: grid;
  grid-template-columns: 1fr;
  padding: var(--container-padding-mobile);
  
}

@media (min-width:500px) {
  .electric-section-one-container {
    padding: var(--container-padding-desktop);
  }
}

.electric-section-one-subcontainer {
  display: grid;
  grid-template-columns: 1fr;
  justify-content: center;
  row-gap: 30px;
  padding: var(--subcontainer-padding-mobile);
  border: solid 1px black;
  background-color: var(--level1-background-color);
}

@media (min-width:500px){
  .electric-section-one-subcontainer{
    padding: var(--subcontainer-padding-desktop);
  }
}

.electric-section-one-title {
  text-align: center;
  font-size: var(--title-font-size-mobile);
  font-weight: var(--title-font-weight-mobile);
}

@media (min-width: 500px) {
  .electric-section-one-title {
    font-size: var(--title-font-size-desktop);
    font-weight: var(--title-font-weight-desktop);
  }
}

/*****PART ONE******/

.electric-section-one-part-one-container{
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas:
    "electric-section-one-part-one-image-container"
    "electric-section-one-part-one-copy-container";
  row-gap: var(--subcontainer-row-gap-mobile);
  column-gap: none;
  /* ^for the media query after */
  border: var(--subcontainer-border-mobile);
  background-color: var(--level2-background-color);
}

@media (min-width:500px) {
  .electric-section-one-part-one-container{
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas:
    "electric-section-one-part-one-image-container electric-section-one-part-one-copy-container";
    column-gap: var(--subcontainer-column-gap-desktop);
    padding: var(--subcontainer-padding-desktop);
  }
}

.electric-section-one-part-one-image-container{
  grid-area: electric-section-one-part-one-image-container;
  display: grid;
  justify-content: center;
  align-content: center;
  background-color: var(--level3-background-color);
}

@media (min-width: 500px) {
  .electric-section-one-part-one-image-container {
  }
}

.electric-section-one-part-one-image {
  display: block;
  width: 100%;
}

@media (min-width: 500px) {
  .electric-section-one-part-one-image {
  }
}

.electric-section-one-part-one-copy-container{
  grid-area: electric-section-one-part-one-copy-container;
  display: grid;
  align-content: start;
  row-gap: var(--copy-container-row-gap-mobile);
  background-color: var(--level3-background-color);
}

@media (min-width: 500px) {
  .electric-section-one-part-one-copy-container {
    row-gap: var(--copy-container-row-gap-desktop);
  }
}

.electric-section-one-part-one-subtitle {
  text-align: center;
  font-size: var(--subtitle-font-size-mobile);
  font-weight: var(--subtitle-font-weight-mobile);
}

@media (min-width: 500px) {
  .electric-section-one-part-one-subtitle {
    text-align: left;
    font-size: var(--subtitle-font-size-desktop);
    font-weight: var(--subtitle-font-weight-desktop);
  }
}

.electric-section-one-part-one-paragraph {
  text-align: center;
  font-size: var(--paragraph-font-size-mobile);
  font-weight: var(--paragraph-font-weight-mobile);
}

@media (min-width: 500px) {
  .electric-section-one-part-one-paragraph {
    text-align: left;
    font-size: var(--paragraph-font-size-desktop);
    font-weight: var(--paragraph-font-weight-desktop);
  }
}

/*****PART TWO******/

.electric-section-one-part-two-container{
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas:
    "electric-section-one-part-two-image-container"
    "electric-section-one-part-two-copy-container";
  row-gap: var(--subcontainer-row-gap-mobile);
  column-gap: none;
  /* ^for the media query after */
  border: var(--subcontainer-border-mobile);
  background-color: var(--level2-background-color);
}

@media (min-width:500px) {
  .electric-section-one-part-two-container{
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas:
    "electric-section-one-part-two-image-container electric-section-one-part-two-copy-container";
    column-gap: var(--subcontainer-column-gap-desktop);
    padding: var(--subcontainer-padding-desktop);
  }
}

.electric-section-one-part-two-image-container{
  grid-area: electric-section-one-part-two-image-container;
  display: grid;
  justify-content: center;
  align-content: center;
  background-color: var(--level3-background-color);
}

@media (min-width: 500px) {
  .electric-section-one-part-two-image-container {
  }
}

.electric-section-one-part-two-image {
  display: block;
  width: 100%;
}

@media (min-width: 500px) {
  .electric-section-one-part-two-image {
  }
}

.electric-section-one-part-two-copy-container{
  grid-area: electric-section-one-part-two-copy-container;
  display: grid;
  align-content: start;
  row-gap: var(--copy-container-row-gap-mobile);
  background-color: var(--level3-background-color);
}

@media (min-width: 500px) {
  .electric-section-one-part-two-copy-container {
    row-gap: var(--copy-container-row-gap-desktop);
  }
}

.electric-section-one-part-two-subtitle {
  text-align: center;
  font-size: var(--subtitle-font-size-mobile);
  font-weight: var(--subtitle-font-weight-mobile);
}

@media (min-width: 500px) {
  .electric-section-one-part-two-subtitle {
    text-align: left;
    font-size: var(--subtitle-font-size-desktop);
    font-weight: var(--subtitle-font-weight-desktop);
  }
}

.electric-section-one-part-two-paragraph {
  text-align: center;
  font-size: var(--paragraph-font-size-mobile);
  font-weight: var(--paragraph-font-weight-mobile);
}

@media (min-width: 500px) {
  .electric-section-one-part-two-paragraph {
    text-align: left;
    font-size: var(--paragraph-font-size-desktop);
    font-weight: var(--paragraph-font-weight-desktop);
  }
}

/*****PART THREE******/

.electric-section-one-part-three-container{
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas:
    "electric-section-one-part-three-image-container"
    "electric-section-one-part-three-copy-container";
  row-gap: var(--subcontainer-row-gap-mobile);
  column-gap: none;
  /* ^for the media query after */
  border: var(--subcontainer-border-mobile);
  background-color: var(--level2-background-color);
}

@media (min-width:500px) {
  .electric-section-one-part-three-container{
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas:
    "electric-section-one-part-three-image-container electric-section-one-part-three-copy-container";
    column-gap: var(--subcontainer-column-gap-desktop);
    padding: var(--subcontainer-padding-desktop);
  }
}

.electric-section-one-part-three-image-container{
  grid-area: electric-section-one-part-three-image-container;
  display: grid;
  justify-content: center;
  align-content: center;
  background-color: var(--level3-background-color);
}

@media (min-width: 500px) {
  .electric-section-one-part-three-image-container {
  }
}

.electric-section-one-part-three-image {
  display: block;
  width: 100%;
}

@media (min-width: 500px) {
  .electric-section-one-part-three-image-container {
  }
}

.electric-section-one-part-three-copy-container{
  grid-area: electric-section-one-part-three-copy-container;
  display: grid;
  align-content: start;
  row-gap: var(--copy-container-row-gap-mobile);
  background-color: var(--level3-background-color);
}

@media (min-width: 500px) {
  .electric-section-one-part-three-copy-container {
    row-gap: var(--copy-container-row-gap-desktop);
  }
}

.electric-section-one-part-three-subtitle {
  text-align: center;
  font-size: var(--subtitle-font-size-mobile);
  font-weight: var(--subtitle-font-weight-mobile);
}

@media (min-width: 500px) {
  .electric-section-one-part-three-subtitle {
    text-align: left;
    font-size: var(--subtitle-font-size-desktop);
    font-weight: var(--subtitle-font-weight-desktop);
  }
}

.electric-section-one-part-three-paragraph {
  text-align: center;
  font-size: var(--paragraph-font-size-mobile);
  font-weight: var(--paragraph-font-weight-mobile);
}

@media (min-width: 500px) {
  .electric-section-one-part-three-paragraph {
    text-align: left;
    font-size: var(--paragraph-font-size-desktop);
    font-weight: var(--paragraph-font-weight-desktop);
  }
}