
.electric-section-one-container{
padding: 15px;
}

.electric-section-one-container >*{
    border: solid  1px black;
}

.electric-section-one-subcontainer{
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
    row-gap: 15px;
    padding: 25px
  
  }
  .electric-section-one-subcontainer > *{
      border: solid  1px black;
  }
  
  .electric-section-one-img-container{
      grid-column: 1/2;
      
  }
  .electric-section-one-img{
    display: block;
    width: 100%;
}
  
  .electric-section-one-title{
      grid-column: 1/2;
     text-align: center;
  }
  .electric-section-one-content{
      grid-column: 1/2;
     text-align: justify;
  }
  
  .electric-section-one-btn{
    grid-column: 1/2;
    width:90px;
    height: 40px ;
    justify-self: center;
  }