.water-section-one-container,
.water-section-one-image-container,
.water-section-one-image,
.water-section-one-title,
.water-section-one-subtitle,
.water-section-one-collapsible-subcontainer-one,
.water-section-one-collapsible-subcontainer-two,
.water-section-one-collapsible-subcontainer-three,
.water-section-one-collapsible-subcontainer-four,
.water-section-one-collapsible-title,
.water-section-one-collapsible-subtitle,
.water-section-one-collapsible-paragraph,
.water-section-one-collapsible-list,
.water-section-one-collapsible-list-item,
.water-section-one-collapsible-image-container,
.water-section-one-collapsible-image,
.water-section-one-collapsible-image-small-container,
.water-section-one-collapsible-image-small {
  border: 1px dotted black;
}

.water-section-one-container {
  display: grid;
  grid-template-columns: 1fr;
  /* justify-content: center; */
  /* ^not strictly neccessary */
  padding: 40px 30px;
  /* ^tried to emulate design padding.. maybe need global variables for this */
  row-gap: 30px;
}

.water-section-one-subcontainer {
  display: grid;
  grid-template-columns: 1fr;
  /* justify-content: center; */
  /* ^not strictly neccessary */
  row-gap: 15px;
  padding: 40px 30px;
  /* ^tried to emulate design padding.. maybe need global variables for this */
  border: 1px solid black;
  
  cursor: pointer;
  /* ^neccessary to prompt user to click? UX Design? */
}

.water-section-one-image-container {
  /* background-color: lightblue; */
  /* ^so you can see if the image is scaling correctly */
}

.water-section-one-image {
  display: block;
  width: 100%;
  /* background-color: gray; */
  /* ^placeholder colour until actual image */
}

.water-section-one-title {
  text-align: center;
  font-size: 1.6rem;
  font-weight: 500;
  /* ^to offset the bolded text */
}

.water-section-one-subtitle {
  /* text-align: center; */
  /* font-size: 1.3rem; */
  font-size: 1.35rem;
  font-weight: 400;
}

.water-section-one-collapsible-subcontainer-one,
.water-section-one-collapsible-subcontainer-two,
.water-section-one-collapsible-subcontainer-three,
.water-section-one-collapsible-subcontainer-four {
  display: none;
  grid-template-columns: 1fr;
  row-gap: 15px;
  padding: 40px 30px;
  border: 1px solid black;
}

.water-section-one-collapsible-title {

}

.water-section-one-collapsible-subtitle {

}

.water-section-one-collapsible-paragraph {

}

.water-section-one-collapsible-list {

}

.water-section-one-collapsible-list-item {

}

.water-section-one-collapsible-image-container {
  /* background-color: lightblue; */
}

.water-section-one-collapsible-image {
  display: block;
  width: 100%;
  height: 100%;
  /* background-color: gray; */
}

.water-section-one-collapsible-subtitle {

}

.water-section-one-collapsible-image-small-container {
  float: right;
  /* needed for text wrap */
  width: 100px;
  height: 100px;
  /* ^temporary hardcoded size */
  /* background-color: lightblue; */
}

.water-section-one-collapsible-image-small {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  /* background-color: gray; */
}