.water-section-one-container,
.water-section-one-subcontainer,
.water-section-one-title-container,
.water-section-one-title,
.water-section-one-title-paragraph, 
.water-section-one-subsection-one-container,
.water-section-one-subsection-two-container,
.water-section-one-subsection-three-container,
.water-section-one-subsection-four-container,
.water-section-one-subsection-copy-container,
.water-section-one-subsection-title,
.water-section-one-subsection-subtitle,
.water-section-one-subsection-paragraph-container,
.water-section-one-subsection-paragraph,
.water-section-one-subsection-list,
.water-section-one-subsection-list-item,
.water-section-one-subsection-image-container,
.water-section-one-subsection-image {
  /* border: var(--temporary-border); */
}

.water-section-one-container {
  display: grid;
  /* padding: var(--container-padding-mobile); */
  padding: 50px 30px 70px 30px;
  background: var(--water-section-container-background);
}

@media (min-width: 600px) {
  .water-section-one-container {
    /* padding: var(--container-padding-desktop); */
    padding: 5% 5% 0 5%;
  }
}

.water-section-one-subcontainer {
  display: grid;
  /* row-gap: var(--subcontainer-row-gap-mobile); */
  row-gap: 40px;
  /* ^gap between subsections in Mobile */
}

@media (min-width: 600px) {
  .water-section-one-subcontainer {
    /* row-gap: var(--subcontainer-row-gap-desktop); */
    row-gap: 50px;
    /* ^gap between subsections in Desktop */
  }
}

.water-section-one-title-container {
  display: grid;
  row-gap: 10px;
}

@media (min-width: 600px) {
  .water-section-one-title-container {
    row-gap: 20px;
  }
}

.water-section-one-title {
  text-align: center;
}

@media (min-width: 600px) {
  .water-section-one-title {
  }
}

.water-section-one-title-paragraph {
  text-align: center;
}

@media (min-width: 600px) {
  .water-section-one-title-paragraph {
    padding: 0 10%;
  }
}

.water-section-one-subsection-one-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas:
    "water-section-one-subsection-one-copy-container-one"
    "water-section-one-subsection-one-image-container"
    "water-section-one-subsection-one-copy-container-two";
  row-gap: var(--subsection-container-row-gap-mobile);
  /* padding: var(--subsection-container-padding-mobile); */
  padding: 40px 20px 0 20px;
  background: var(--water-section-one-subsection-one-container-background);
  border-radius: var(--water-section-one-subsection-one-border-radius);
}

@media (min-width: 600px) {
  .water-section-one-subsection-one-container {
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: 
      "water-section-one-subsection-one-image-container water-section-one-subsection-one-copy-container-one"
      "water-section-one-subsection-one-copy-container-two water-section-one-subsection-one-copy-container-two";
    /* row-gap: var(--subsection-container-row-gap-desktop); */
    row-gap: 30px;
    /* column-gap: var(--subsection-container-column-gap-desktop); */
    column-gap: 5%;
    /* padding: var(--subsection-container-padding-desktop); */
    padding: 10% 10% 10% 10%;
  }
}

.water-section-one-subsection-one-copy-container-one {
  grid-area: water-section-one-subsection-one-copy-container-one;
}

.water-section-one-subsection-one-image-container {
  grid-area: water-section-one-subsection-one-image-container;
}

.water-section-one-subsection-one-copy-container-two {
  grid-area: water-section-one-subsection-one-copy-container-two;
}

.water-section-one-subsection-two-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas:
    "water-section-one-subsection-two-image-container-one"
    "water-section-one-subsection-two-copy-container-one"
    "water-section-one-subsection-two-image-container-two"
    "water-section-one-subsection-two-copy-container-two";
  row-gap: var(--subsection-container-row-gap-mobile);
  /* padding: var(--subsection-container-padding-mobile); */
  padding: 0px 20px 40px 20px;
  background: var(--water-section-one-subsection-two-container-background);
  border-radius: var(--water-section-one-subsection-two-border-radius);
}

@media (min-width: 600px) {
  .water-section-one-subsection-two-container {
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas:
      "water-section-one-subsection-two-image-container-one water-section-one-subsection-two-image-container-two"
      "water-section-one-subsection-two-copy-container-one water-section-one-subsection-two-copy-container-two";
    /* row-gap: var(--subsection-container-row-gap-desktop); */
    row-gap: 30px;
    /* column-gap: var(--subsection-container-column-gap-desktop); */
    column-gap: 5%;
    /* padding: var(--subsection-container-padding-desktop); */
    padding: 0% 10% 10% 10%;
  }
}

.water-section-one-subsection-two-image-container-one {
  grid-area: water-section-one-subsection-two-image-container-one;
}

.water-section-one-subsection-two-copy-container-one {
  grid-area: water-section-one-subsection-two-copy-container-one;
}

.water-section-one-subsection-two-image-container-two {
  grid-area: water-section-one-subsection-two-image-container-two;
}

.water-section-one-subsection-two-copy-container-two {
  grid-area: water-section-one-subsection-two-copy-container-two;
}

.water-section-one-subsection-three-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas:
    "water-section-one-subsection-three-copy-container-one"
    "water-section-one-subsection-three-image-container"
    "water-section-one-subsection-three-copy-container-two";
  row-gap: var(--subsection-container-row-gap-mobile);
  /* padding: var(--subsection-container-padding-mobile); */
  padding: 40px 20px 0px 20px;
  background: var(--water-section-one-subsection-three-container-background);
  border-radius: var(--water-section-one-subsection-three-border-radius);
}

@media (min-width: 600px) {
  .water-section-one-subsection-three-container {
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas:
      "water-section-one-subsection-three-image-container water-section-one-subsection-three-copy-container-one"
      "water-section-one-subsection-three-copy-container-two water-section-one-subsection-three-copy-container-two";
    /* row-gap: var(--subsection-container-row-gap-desktop); */
    row-gap: 30px;
    /* column-gap: var(--subsection-container-column-gap-desktop); */
    column-gap: 5%;
    /* padding: var(--subsection-container-padding-desktop); */
    padding: 10% 10% 10% 10%;
  }
}

.water-section-one-subsection-three-copy-container-one {
  grid-area: water-section-one-subsection-three-copy-container-one;
}

.water-section-one-subsection-three-image-container {
  grid-area: water-section-one-subsection-three-image-container;
}

.water-section-one-subsection-three-copy-container-two {
  grid-area: water-section-one-subsection-three-copy-container-two;
}

.water-section-one-subsection-four-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas:
    "water-section-one-subsection-four-copy-container"
    "water-section-one-subsection-four-image-container";
  row-gap: var(--subsection-container-row-gap-mobile);
  /* padding: var(--subsection-container-padding-mobile); */
  padding: 0px 20px 40px 20px;
  background: var(--water-section-one-subsection-four-container-background);
  border-radius: var(--water-section-one-subsection-four-border-radius);
}

@media (min-width: 600px) {
  .water-section-one-subsection-four-container {
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: "water-section-one-subsection-four-image-container water-section-one-subsection-four-copy-container";
    /* row-gap: var(--subsection-container-row-gap-desktop); */
    row-gap: 0;
    /* column-gap: var(--subsection-container-column-gap-desktop); */
    column-gap: 5%;
    /* padding: var(--subsection-container-padding-desktop); */
    padding: 0% 10% 10% 10%;
  }
}

.water-section-one-subsection-four-copy-container {
  grid-area: water-section-one-subsection-four-copy-container;
}

.water-section-one-subsection-four-image-container {
  grid-area: water-section-one-subsection-four-image-container;
}

.water-section-one-subsection-copy-container {
  display: grid;
  grid-template-columns: 1fr;
  align-content: start;
  row-gap: var(--copy-container-row-gap-mobile);
}

@media (min-width: 600px) {
  .water-section-one-subsection-copy-container  {
    row-gap: var(--copy-container-row-gap-desktop);
  }
}

.water-section-one-subsection-title {
  text-align: center;
}

@media (min-width: 600px) {
  .water-section-one-subsection-title  {
    text-align: left;
  }
}

.water-section-one-subsection-subtitle {
  text-align: left;
}

@media (min-width: 600px) {
  .water-section-one-subsection-subtitle {

  }
}

.water-section-one-subsection-paragraph-container {
  display: grid;
  grid-template-columns: 1fr;
  align-content: start;
  row-gap: var(--paragraph-container-row-gap-mobile);
}

@media (min-width: 600px) {
  .water-section-one-subsection-paragraph-container {
    row-gap: var(--paragraph-container-row-gap-desktop);
  }
}

.water-section-one-subsection-paragraph {
  text-align: center;
}

@media (min-width: 600px) {
  .water-section-one-subsection-paragraph {
    text-align: left;
  }
}

.water-section-one-subsection-list {
  padding-left: 20px;
  /* THIS NEEDS ITS OWN GLOBAL VARIABLES --subsection-list-padding */
}

@media (min-width: 600px) {
  .water-section-one-subsection-list {

  }
}

.water-section-one-subsection-list-item {

}

@media (min-width: 600px) {
  .water-section-one-subsection-list-item {

  }
}

.water-section-one-subsection-image-container {
  display: grid;
  justify-content: center;
  align-content: center;
}

@media (min-width: 600px) {
  .water-section-one-subsection-image-container {

  }
}

.water-section-one-subsection-image {
  display: block;
  width: 100%;
  max-width: 225px;
}

@media (min-width: 600px) {
  .water-section-one-subsection-image {
    max-width: 300px;
  }
}