.header-mobile-container {
  display: grid;
  grid-area: header;
  grid-template-columns: 30px minmax(50px,200px) auto minmax(50px,100px) 30px;
  background-color: var(--dark-blue);
  align-items: center;
}

.header-mobile-logo-container {
  grid-column: 2/3;
  /* justify-self: center; */
  text-align: center;
}

.header-mobile-logo-image-container {
  display: flex;
  justify-content: center;
  gap: 12px;
  /* ^to space them out over the central text */
}

.header-mobile-logo-image {
  width: 16px;
  height: 22px;
  /* ^to maintain a decent ratio for the images */
}

.header-mobile-logo {
  color: var(--red);
  font-size: 20px;
  font-weight: 800;
}

.header-mobile-logo-highlight {
  color: var(--white);
  font-weight: 600;
}

.header-mobile-nav-container {
  grid-column: 4/5;
  justify-self: end;
}

.header-mobile-nav {
  position: relative;
}

.menu {
  display: flex;
  list-style: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  right: -100%;
  z-index: 100;
  background-color:var(--light-blue);
  transition: all 0.2s ease-in;
}

.header-mobile-nav-list-item {
  padding-left: 30px;
  margin-top: 15px;
  color: #082980;
}

.header-mobile-nav-link {
 display: inline-block;
 text-decoration: none;
 color:#082980;
 text-align: center;
 transition: 0.15s ease-in-out;
 position: relative;
 font-weight: 700;
}

.header-mobile-nav-link-home {
  color: #F92D12;
}

.open-menu,
.close-menu {
  margin: 0.5rem;
  display: block;
}

#check {
  display: none;
}

.open-menu {
  top: 20px;
  right: 0px;
  transform: translateY(-50%);
  position: relative;
  cursor: pointer;
}

.open-line-container-one {
  background-color: var(--red);
  border-radius: 100%;
  align-self: center;
}

.open-line-container-two {
  padding: 6px 3px;
}

#check:checked ~ .menu {
  right: 0;
}

.line {
  display: block;
  width: 22px ;
  height: 2px;
  margin: 6px;
  background-color: var(--white);
}

.close-menu {
  top: 20px;
  right: 20px;
  position: absolute;
  cursor: pointer;
}

.left-close {
  position: absolute;
  display: block;
  width: 25px;
  height: 2px;
  margin-right: 4px;
  background-color: black;
  transform: rotate(45deg);
}

.right-close {
  display: block;
  width: 25px;
  height: 2px;
  margin-bottom: 4px;
  background-color: black;
  transform: rotate(-45deg);
}

.login-mobile-container{
  display: flex;
  flex-direction: column;
  margin-top: 40px;
  text-align: center;
  gap: 8px;
}

.login-mobile-text-first {
 font-size: 14px;
 font-weight: 700;
}

.login-mobile-text-second {  
}

.login-mobile-text-third {
  font-size: 12px;
  font-weight: 400;
}

.login-mobile-text-fourth {
  color:#F92D12;
  font-size: 12px;
  font-weight: 400;
}

.header-mobile-login-container {
  display: none;
}

.header-mobile-search-container{
  display: none;
}

.header-desktop-container{
  display: none;
}

/*****Header Desktop*******/
@media (min-width:600px){
.header-mobile-container{
  display: none;
}
.header-desktop-container,
.header-desktop-logo-container,
.header-desktop-nav-container,
.header-desktop-nav-list,
.header-desktop-login-container,
.header-desktop-search-container{
  border: var(--temporary-border);
}

.header-desktop-container{
  display: grid;
  grid-template-columns: 2fr 5fr 1fr 2fr;
  grid-template-rows: repeat(3,auto);
  grid-template-areas: 
  "header-desktop-logo-container . .  header-desktop-login-container "
  "header-desktop-logo-container . . header-desktop-search-container"
  ". header-desktop-nav-container . .";
  background-color: var(--dark-blue);
}

/****LOGO CONTAINER****/

.header-desktop-logo-container {
 grid-area: header-desktop-logo-container;
  align-self: center;
  text-align: center;
}

.header-desktop-logo-image-container {
  display: flex;
  justify-content: center;
  gap: 12px; 
}

.header-desktop-logo-image {
  width: 16px;
  height: 22px;
}

.header-desktop-logo {
  color: var(--red);
  font-size: 20px;
  font-weight: 800;
}

.header-desktop-logo-highlight {
  color: var(--white);
  font-weight: 600;
}

/******NAV CONTAINER*****/

.header-desktop-nav-container{
  grid-area: header-desktop-nav-container;
  justify-content: center;
}

.header-desktop-nav-list{
 display: flex;
 flex-direction: row;
 justify-content: space-between;
 list-style: none;
 padding-left: 0;
}

.header-desktop-nav-link {
 text-decoration: none;
 color:#FFFFFF;
 text-align: center;
 font-weight: 700;
}

/*****LOGIN CONTAINER *****/

.header-desktop-login-container{
  grid-area: header-desktop-login-container;
  display: flex;
  justify-content: center;
}

.header-login-text-desktop{
  color: #FFFFFF;
}
.fa-solid{
  background-color: #FFFFFF;
}

/******SEARCH CONTAINER****/

.header-desktop-search-container{
  grid-area: header-desktop-search-container;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.header-form-desktop{
  position: relative;
  display: flex;
  align-content: center;
}

.fa-magnifying-glass{
  position: absolute;
  left: 2px;
  color: gray;
  align-self: center;
}

.header-input-search-desktop{
  border: none;
  width: 100%;
}
}