.header-container {
  display: grid;
  grid-area: header;
  grid-template-columns: 30px minmax(50px,100px) auto minmax(50px,100px) 30px;
  background-color: var(--dark-blue);
  align-items: center;
}

.header-logo-container {
  grid-column: 2/3;
  /* justify-self: center; */
  text-align: center;
}

.header-logo {
  color: var(--red);
  font-size: 20px;
  font-weight: 600;
}

.header-nav-container {
  grid-column: 4/5;
  justify-self: end;
}

.header-nav {
  position: relative;
}

.menu {
  display: flex;
  list-style: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  right: -100%;
  z-index: 100;
  background-color:var(--light-blue);
  transition: all 0.2s ease-in;
}

.header-nav-list-item {
  padding-left: 30px;
  margin-top: 15px;
  color: #082980;
}

.heaver-nav-link {
  display: inline-block;
  text-decoration: none;
  color:#082980;
  text-align: center;
  transition: 0.15s ease-in-out;
  position: relative;
  font-weight: 700;
}

.heaver-nav-link-home {
  color: #F92D12;
}

/*.nav-header-link::after{
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 1px;
  background-color: yellow;
  transition: 0.15s ease-in-out;
}*/

.open-menu,
.close-menu {
  margin: 0.5rem;
  display: block;
}

#check {
  display: none;
}

.open-menu {
  top: 20px;
  right: 0px;
  transform: translateY(-50%);
  position: relative;
  cursor: pointer;
}

.open-line-container-one {
  background-color: var(--red);
  border-radius: 100%;
  align-self: center;
}

.open-line-container-two {
  padding: 6px 3px;
}

#check:checked ~ .menu {
  right: 0;
}

.line {
  display: block;
  width: 22px ;
  height: 2px;
  margin: 6px;
  background-color: var(--white);
}

.close-menu {
  top: 20px;
  right: 20px;
  position: absolute;
  cursor: pointer;
}

.left-close {
  position: absolute;
  display: block;
  width: 25px;
  height: 2px;
  margin-right: 4px;
  background-color: black;
  transform: rotate(45deg);
}

.right-close {
  display: block;
  width: 25px;
  height: 2px;
  margin-bottom: 4px;
  background-color: black;
  transform: rotate(-45deg);
}



.login-mobile-container{
  display: flex;
  flex-direction: column;
  margin-top: 40px;
  text-align: center;
  gap: 8px;
}

.login-mobile-text-first {
 font-size: 14px;
 font-weight: 700;
}

.login-mobile-text-second {
  
}

.login-mobile-text-third {
  font-size: 12px;
  font-weight: 400;
}

.login-mobile-text-fourth {
  color:#F92D12;
  font-size: 12px;
  font-weight: 400;
}

.header-login-container {
  display: none;
}

.header-search-container{
  display: none;
}

/*
-- CLASS NAMES AND LAYOUT HAVE BEEN CHANGED SINCE THIS --

CSS FROM homepage-desktop.css 

.header-container {
  display: grid;
  grid-template: repeat(2,auto) / repeat(8,1fr);
  background-color: var(--light-perimary);
  width: 100%;
  font-size: 2rem;
}

.logo-container { 
  grid-column: 1/2;
  grid-row: 1/3;
  justify-self: start;
  align-self: center;
}

.logo-text{
  background-color: var(--white);
}

.nav-header-container {
  grid-column: 2/7;
  grid-row: 1/3;
  list-style: none;
  width:100%;
  justify-self: start;
  align-self: center;
}

.header-nav-list {
  display: flex;
  flex-direction: row;
  justify-content: start;
  grid-column-gap: 8%;
  list-style: none;
  text-decoration: none;
}

.nav-header-link {
  text-decoration: none;
  background-color: var(--white);
}

.login-container {
  grid-column: 7/9;
  grid-row: 1/2;
  justify-self: end;
  align-self: center;
}

.search-container {
  grid-column: 7/9;
  grid-row: 2/3;
  justify-self: end;
  align-self: center;
}
*/