section {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

section > * {
  /* border: 1px solid black; */
}

fieldset {
  display: flex;
  gap: 10px;
}

fieldset > * {
  /* border: 1px solid lightblue;  */
}

input {
  width: 80px;
}
