.gas-section-four-subcontainer,
.gas-section-four-subcontainer,
.gas-section-four-copy-container,
.gas-section-four-title-container,
.gas-section-four-paragraph-container,
.gas-section-four-title,
.gas-section-four-title-span-number,
.gas-section-four-title-span-title,
.gas-section-four-paragraph{
  border: var(--temporary-border);
}

.gas-section-four-container {
  display: grid;
  grid-template-columns: 1fr;
  padding: var(--container-padding-mobile);
  background-color: var(--level1-background-color);
}

@media (min-width:600px){
  .gas-section-four-container {
    padding: var(--container-padding-desktop);
  }
}

.gas-section-four-subcontainer {
  display: grid;
  grid-template-columns: 1fr;
  padding: var(--subcontainer-padding-mobile);
  background-color: var(--level2-background-color);
}

@media (min-width:600px){
  .gas-section-four-container {
    padding: var(--subcontainer-padding-desktop);
  }
}

.gas-section-four-copy-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas: 
  "gas-section-four-title-container"
  "gas-section-four-paragraph-container";
  align-content: start;
  row-gap: var(--subcontainer-row-gap-mobile);
  padding: var(--copy-container-padding-mobile);
  background-color: var(--level3-background-color);
}

@media (min-width:600px){
  .gas-section-four-copy-container{
    grid-template-columns: repeat(2,1fr);
    grid-template-areas: 
    "gas-section-four-title-container gas-section-four-paragraph-container";
    column-gap: var(--subcontainer-column-gap-desktop);
  }
}

.gas-section-four-title-container {
  grid-area: gas-section-four-title-container;
  display: grid;
  align-content: start;
}

@media (min-width:600px){
.gas-section-four-title-container {
  align-content: center;
 }
}

.gas-section-four-title {
  display: flex;
  flex-direction: column;
  row-gap: var(--gas-title-row-gap-mobile);
  text-align: center;
  font-size: var(--gas-title-font-size-mobile);
  font-weight: var(--gas-title-font-weight-mobile);
}

@media (min-width:600px){
  .gas-section-four-title {
    flex-direction: row;
    column-gap: var(--gas-title-column-gap-desktop);
    row-gap: none;
    text-align: left;
    font-size: var(--gas-title-font-size-desktop);
    font-weight: var(--gas-title-font-weight-desktop);
  }
}

.gas-section-four-title-span-number{

}

.gas-section-four-title-span-title{

}

.gas-section-four-paragraph-container {
  grid-area: gas-section-four-paragraph-container ;
  display: grid;
  row-gap: var(--paragraph-container-row-gap-mobile);
}

@media (min-width:600px){
  .gas-section-four-paragraph-container {
    row-gap: var(--paragraph-container-row-gap-desktop);
  }
}

.gas-section-four-paragraph {
  text-align: center;
  font-size: var(--paragraph-font-size-mobile);
  font-weight: var(--paragraph-font-weight-mobile);
}

@media (min-width:600px){
  .gas-section-four-paragraph {
    text-align: left;
    font-size: var(--paragraph-font-size-desktop);
    font-weight: var(--paragraph-font-weight-desktop);
  }
}

.section-four-link-paragraph{
  /*i need to ask for design*/
}
