.electric-section-three-container,
.electric-section-three-subcontainer,
.electric-section-three-title-container,
.electric-section-three-title,
.electric-section-three-subsection-one-container,
.electric-section-three-subsection-one-image-container,
.electric-section-three-subsection-one-copy-container,
.electric-section-three-subsection-one-subtitle,
.electric-section-three-subsection-one-paragraph-container,
.electric-section-three-subsection-one-paragraph,
.electric-section-three-subsection-two-container,
.electric-section-three-subsection-two-image-container,
.electric-section-three-subsection-two-copy-container,
.electric-section-three-subsection-two-subtitle,
.electric-section-three-subsection-two-paragraph-container,
.electric-section-three-subsection-two-paragraph,
.electric-section-three-subsection-three-container,
.electric-section-three-subsection-three-image-container,
.electric-section-three-subsection-three-copy-container,
.electric-section-three-subsection-three-subtitle,
.electric-section-three-subsection-three-paragraph-container,
.electric-section-three-subsection-three-paragraph {
 /* border: var(--temporary-border);*/
}

.electric-section-three-container {
  display: grid;
  grid-template-columns: 0.9fr 0.1fr;
  grid-template-areas: 
  "electric-section-three-subcontainer ."
  "electric-section-three-subcontainer .";
  padding: 15px 0 30px 0;
  /*padding: var(--container-padding-mobile);*/
  background-color: var(--electric-section-three-container-background);
}

@media (min-width:600px) {
  .electric-section-three-container {
    /*padding: var(--container-padding-desktop);*/
    grid-template-columns: 1fr;
    padding: 0 5% 6.5% 0;
  }
}

.electric-section-three-subcontainer {
  grid-area: electric-section-three-subcontainer;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas:
    "electric-section-three-title-container"
    "electric-section-three-subsection-one-container"
    "electric-section-three-subsection-two-container"
    "electric-section-three-subsection-three-container";
  row-gap: var(--subcontainer-row-gap-mobile);
  column-gap: none;
  padding: var(--subcontainer-padding-mobile);
  border-radius: 0 30px 30px 0;
  background-color: var(--electric-section-three-subcontainer-background);
}

@media (min-width:600px) {
  .electric-section-three-subcontainer {
    grid-template-columns: repeat(2,1fr);
    grid-template-areas:
      "electric-section-three-title-container electric-section-three-title-container"
      "electric-section-three-subsection-one-container electric-section-three-subsection-one-container"
      "electric-section-three-subsection-two-container electric-section-three-subsection-three-container"; 
    /*row-gap: var(--subcontainer-row-gap-desktop);*/
    row-gap: 0;
    column-gap:var(--subcontainer-column-gap-desktop);
    border-radius: 0 30px 30px 0;
    padding: var(--subcontainer-padding-desktop);
  }
}

.electric-section-three-title-container {
  grid-area: electric-section-three-title-container;
  padding-top: 60px;
}

@media (min-width: 600px){
  .electric-section-three-title-container {
    padding: 6% 6% 5% 6%;
  }
}

.electric-section-three-title {
  text-align: center;
}

@media (min-width: 600px) {
  .electric-section-three-title {
    text-align: left;
  }
}

/* subsection-one */

.electric-section-three-subsection-one-container {
  grid-area: electric-section-three-subsection-one-container;
  display: grid;
  grid-template-columns: 1fr;
  align-content: start;
  row-gap: var(--subsection-container-row-gap-mobile);
  padding: var(--subsection-container-padding-mobile);
}

@media (min-width:600px) {
  .electric-section-three-subsection-one-container{
    padding: var(--subsection-container-padding-desktop);
    padding: 0 6%;
  }
}

.electric-section-three-subsection-one-copy-container {
  display: grid;
  align-content: start;
  row-gap: var(--copy-container-row-gap-mobile);
}

@media (min-width: 600px) {
  .electric-section-three-subsection-one-copy-container {
    row-gap: var(--copy-container-row-gap-desktop);
  }
}

.electric-section-three-subsection-one-subtitle {
  text-align: center;
}

@media (min-width: 600px) {
  .electric-section-three-subsection-one-subtitle {
    text-align: left;
  }
}

.electric-section-three-subsection-one-paragraph-container {
  display: grid;
  row-gap: var(--paragraph-container-row-gap-mobile);
}

@media (min-width: 600px) {
  .electric-section-three-subsection-one-paragraph-container{
    row-gap: var(--paragraph-container-row-gap-desktop);
  }
}

.electric-section-three-subsection-one-paragraph {
  text-align: center;
}

@media (min-width: 600px) {
  .electric-section-three-subsection-one-paragraph {
    text-align: left;
  }
}

/* subsection-two */

.electric-section-three-subsection-two-container {
  grid-area:electric-section-three-subsection-two-container;
  display: grid;
  align-content: start;
  row-gap: var(--subsection-container-row-gap-mobile);
  padding: var(--subsection-container-padding-mobile);
}

@media (min-width:600px) {
  .electric-section-three-subsection-two-container {
    padding: var(--subsection-container-padding-desktop);
    padding-top: 0;
    padding-left: 12%;
  }
}

.electric-section-three-subsection-two-image-container {
  display: grid;
  justify-content: center;
  align-content: center;
}

@media (min-width: 600px) {
  .electric-section-three-subsection-two-image-container {
  }
}

.electric-section-three-subsection-two-image {
  display: block;
  width: 100%;
}

@media (min-width: 600px) {
  .electric-section-three-subsection-two-image {
  }
}

.electric-section-three-subsection-two-copy-container {
  display: grid;
  align-content: start;
  row-gap: var(--copy-container-row-gap-mobile);
}

@media (min-width: 600px) {
  .electric-section-three-subsection-two-copy-container {
    row-gap: var(--copy-container-row-gap-desktop);
  }
}

.electric-section-three-subsection-two-subtitle {
  text-align: center;
}

@media (min-width: 600px) {
  .electric-section-three-subsection-two-subtitle {
    text-align: left;
  }
}

.electric-section-three-subsection-two-paragraph-container {
  display: grid;
  row-gap: var(--paragraph-container-row-gap-mobile);
}

@media (min-width: 600px) {
  .electric-section-three-subsection-two-paragraph-container{
    row-gap: var(--paragraph-container-row-gap-desktop);
  }
}

.electric-section-three-subsection-two-paragraph {
  text-align: center;
}

@media (min-width: 600px) {
  .electric-section-three-subsection-two-paragraph {
    text-align: left;
  }
}

/* subsection-three */

.electric-section-three-subsection-three-container {
  grid-area:electric-section-three-subsection-three-container;
  display: grid;
  align-content: start;
  row-gap: var(--subsection-container-row-gap-mobile);
  padding: var(--subsection-container-padding-mobile);
}

@media (min-width:600px) {
  .electric-section-three-subsection-three-container{
    padding: var(--subsection-container-padding-desktop);
    padding-top: 0;
    padding-right: 12%;
  }
}

.electric-section-three-subsection-three-image-container {
  display: grid;
  justify-content: center;
  align-content: center;
  padding: 13%;
}

@media (min-width: 600px) {
  .electric-section-three-subsection-three-image-container {
    padding: 11%;
  }
}

.electric-section-three-subsection-three-image {
  display: block;
  width: 100%;
}

@media (min-width: 600px) {
  .electric-section-three-subsection-three-image {
   
  }
}

.electric-section-three-subsection-three-copy-container {
  display: grid;
  align-content: start;
  row-gap: var(--copy-container-row-gap-mobile);
}

@media (min-width: 600px) {
  .electric-section-three-subsection-three-copy-container {
    row-gap: var(--copy-container-row-gap-desktop);
  }
}

.electric-section-three-subsection-three-subtitle {
  text-align: center;
}

@media (min-width: 600px) {
  .electric-section-three-subsection-three-subtitle {
    text-align: left;
  }
}

.electric-section-three-subsection-three-paragraph-container {
  display: grid;
  row-gap: var(--paragraph-container-row-gap-mobile);
}

@media (min-width: 600px) {
  .electric-section-three-subsection-three-paragraph-container{
    row-gap: var(--paragraph-container-row-gap-desktop);
  }
}

.electric-section-three-subsection-three-paragraph {
  text-align: center;
}

@media (min-width: 600px) {
  .electric-section-three-subsection-three-paragraph {
    text-align: left;
  }
}