.electric-hero-container{
  display: grid;
  grid-template-columns: 1fr;
  justify-content: center;
  row-gap: 15px;
  padding: 25px
}

.electric-hero-container > *{
    border: solid  1px black;
}

.electric-hero-img-container{
    grid-column: 1/2;
}

.electric-hero-title{
    grid-column: 1/2;
    text-align: center;
}

.electric-hero-content{
    grid-column: 1/2;
    text-align: justify;
}

.electric-hero-img{
    width: 100%;
}