.electric-hero-container,
.electric-hero-subcontainer,
.electric-hero-copy-container,
.electric-hero-title,
.electric-hero-paragraph-container,
.electric-hero-paragraph,
.electric-hero-container,
.electric-hero-image-container,
.electric-hero-image {
  border: var(--temporary-border);
}

.electric-hero-container{
  display: grid;
  grid-template-columns: 1fr;
  padding: var(--container-padding-mobile);
  background-color: var(--level1-background-color);
}

.electric-hero-subcontainer {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas:
    "electric-hero-image-container"
    "electric-hero-copy-container";
  row-gap: var(--subcontainer-row-gap-mobile);
  column-gap: none;
  /* ^for the media query after */
  border: var(--subcontainer-border-mobile);
  background-color: var(--level2-background-color);
}

@media (min-width:500px){
  .electric-hero-subcontainer{
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas:
      "electric-hero-image-container electric-hero-copy-container";
    column-gap: var(--subcontainer-column-gap-desktop);
  }
}

.electric-hero-image-container{
  grid-area:electric-hero-image-container ;
  display: grid;
  justify-content: center;
  align-content: center;
  background-color: var(--level3-background-color);
}

@media (min-width: 500px) {
  .electric-hero-image-container{
    display: grid;
    align-content: center;
  }
}

.electric-hero-image{
  display: block;
  width: 100%;
}

@media (min-width:500px){
  .electric-hero-image{

  }
}

.electric-hero-copy-container {
  grid-area:electric-hero-copy-container ;
  display: grid;
  align-content: center;
  row-gap: var(--copy-container-row-gap-mobile);
  background-color: var(--level3-background-color);
}

@media (min-width: 500px) {
  .electric-hero-copy-container {
    row-gap: var(--copy-container-row-gap-desktop);
  }
}

.electric-hero-title{
  text-align: center;
  font-size: var(--title-font-size-mobile);
  font-weight: var(--title-font-weight-mobile);
}

@media (min-width: 500px) {
  .electric-hero-title {
    text-align: center;
    font-size: var(--title-font-size-desktop);
    font-weight: var(--title-font-weight-desktop);
  }
}

.gas-section-one-paragraph-container {
}

.electric-hero-paragraph{
  text-align: center;
  font-size: var(--paragraph-font-size-mobile);
  font-weight: var(--paragraph-font-weight-mobile); 
}

@media (min-width: 500px) {
  .electric-hero-paragraph {
    font-size: var(--paragraph-font-size-desktop);
    font-weight: var(--paragraph-font-weight-desktop);
  }
}
  
