.gas-section-nine-container {
    padding: var(--container-padding-mobile);
}
  
.gas-section-nine-subcontainer {
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
    row-gap: var(--items-gap-mobile);
    padding: var(--subcontainer-padding-mobile);
    border: var(--container-border-mobile);
}
  
.gas-section-nine-subcontainer > * {
    border: var(--subcontainer-border-mobile);
}
  
.gas-section-nine-title {
    grid-column: 1/2;
    justify-self: center;
    text-align: center;
    font-size: var(--title-size-mobile);
    /* width: var(--title-width-mobile);
    height: var(--title-height-mobile); */
    
    background-color: var(--title-background-color-mobile);
}

.gas-section-nine-subtitle {
    grid-column: 1/2;
    justify-self: center;
    text-align: center;
    font-size: var(--title-size-mobile);
    /* width: var(--title-width-mobile);
    height: var(--title-height-mobile); */
    
    background-color: var(--title-background-color-mobile);
}

.gas-section-nine-content {
    grid-column: 1/2;
    text-align: justify;
    font-size: var(--content-size-paragraph-mobile);
}
  
.gas-section-nine-img {
    width: 100%;
    border-radius: 30px;
}
  
.gas-section-nine-img-container {
    grid-column: 1/2;
}