.gas-section-three-container {
    padding: var(--container-padding-mobile);
}
  
.gas-section-three-subcontainer {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas:
    "gas-section-three-copy-container"
    "gas-section-three-img-container";
    justify-content: center;
    align-content: center;
    row-gap: var(--items-gap-mobile);
    padding: var(--subcontainer-padding-mobile);
    border: var(--container-border-mobile);
}
  
.gas-section-three-subcontainer > * {
    border: var(--subcontainer-border-mobile);
}

@media (min-width:600px){
    .gas-section-three-subcontainer{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        grid-template-areas: 
        "gas-section-three-copy-container gas-section-three-img-container";
    }
}

.gas-section-three-copy-container{
    grid-area: gas-section-three-copy-container;
    display: grid;
    justify-content: center;
    align-content: center;
    text-align: center;
    grid-row-gap: var(--items-gap-mobile);
}
  
.gas-section-three-title {
    font-size: var(--title-size-mobile);
    background-color: var(--title-background-color-mobile);
}

.gas-section-three-number{
    display: none;
}

.gas-section-three-subtitle {
    font-size: var(--title-size-mobile);
    background-color: var(--title-background-color-mobile);
}

.gas-section-three-number{
    display: none;
}

@media (min-width:600px) {
    .gas-section-three-subtitle {
        display: none;
    }

    .gas-section-three-number{
        display: contents;
    }

}

.gas-section-three-paragraph {
    text-align: justify;
    font-size: var(--content-size-paragraph-mobile);
}
  
.gas-section-three-img-container {
  grid-area: gas-section-three-img-container;
  display: grid;
  align-content: center;
}

.gas-section-three-img {
    display: block;
    width: 100%;
    border-radius: 30px;
}
  