.water-section-two-container,
.water-section-two-image-container,
.water-section-two-image,
.water-section-two-title,
.water-section-two-paragraph {
  border: 1px dotted black;
}

.water-section-two-container {
  display: grid;
  grid-template-columns: 1fr;
}

.water-section-two-subcontainer {
  display: grid;
  grid-template-columns: 1fr;
  justify-content: center;
  /* ^not strictly neccessary */
  padding: 50px;
  gap: 20px;
  border-bottom: 1px solid black;
}

.water-section-two-image-container {
  background-color: lightblue;
  /* ^so you can see if the image is scaling correctly */
}

.water-section-two-image {
  display: block;
  width: 100%;
  background-color: gray;
  /* ^placeholder colour until actual image */
}

.water-section-two-title {
  text-align: center;
  font-size: 1.6rem;
  font-weight: 400;
}

.water-section-two-paragraph {
  text-align: justify;
}

.bold {
  font-weight: bold;
}