.water-section-two-container,
.water-section-two-subcontainer,
.water-section-two-title-container,
.water-section-two-title,
.water-section-two-subtitle,
.water-section-two-subsection-container,
.water-section-two-subsection-image-container,
.water-section-two-subsection-copy-container,
.water-section-two-subsection-image,
.water-section-two-subsection-subtitle,
.water-section-two-subsection-list,
.water-section-two-subsection-list-item {
  border: var(--temporary-border);
}

.water-section-two-container {
  display: grid;
  grid-template-columns: 1fr;
  /* padding: var(--container-padding-mobile); */
  padding: 0 30px;
  background: var(--water-section-container-background);
}

@media (min-width: 600px) {
  .water-section-two-container {
    /* padding: var(--container-padding-desktop); */
    padding: 0 75px;
  }
}

.water-section-two-subcontainer {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas: 
    "water-section-two-title-container";
  align-content: start;
  row-gap: var(--subcontainer-row-gap-mobile);
  padding: var(--subcontainer-padding-mobile);
  background: var(--water-section-two-subcontainer-background);
  border-radius: var(--water-section-two-subcontainer-border-radius);
}

@media (min-width: 600px) {
  .water-section-two-subcontainer {
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas:
      "water-section-two-title-container water-section-two-title-container water-section-two-title-container";
    row-gap: var(--subcontainer-row-gap-desktop);
    column-gap: var(--subcontainer-column-gap-desktop);
  }
}

.water-section-two-title-container {
  grid-area: water-section-two-title-container;
  display: grid;
  grid-template-columns: 1fr;
  row-gap: var(--title-container-row-gap-mobile);
}

@media (min-width: 600px) {
  .water-section-two-title-container {
    row-gap: var(--title-container-row-gap-desktop);
  }
}

.water-section-two-title {
  text-align: center;
  font-size: var(--title-font-size-mobile);
  font-weight: var(--title-font-weight-mobile);
}

@media (min-width: 600px) {
  .water-section-two-title {
    font-size: var(--title-font-size-desktop);
    font-weight: var(--title-font-weight-desktop);
  }
}

.water-section-two-subtitle {
  text-align: center;
  font-size: var(--subtitle-font-size-mobile);
  font-weight: var(--subtitle-font-weight-mobile);
}

@media (min-width: 600px) {
  .water-section-two-subtitle {
    font-size: var(--subtitle-font-size-desktop);
    font-weight: var(--subtitle-font-weight-desktop);
  }
}

.water-section-two-subsection-container {
  display: grid;
  grid-template-columns: 1fr;
  align-content: start;
  row-gap: var(--subsection-container-row-gap-mobile);
  padding: var(--subsection-container-padding-mobile);
  background: var(--water-section-two-subsection-container-background);
  border-radius: var(--water-section-two-subsection-container-border-radius);
}

@media (min-width: 600px) {
  .water-section-two-subsection-container {
    row-gap: var(--subsection-container-row-gap-desktop);
    padding: var(--subsection-container-padding-desktop);
  }
}

.water-section-two-subsection-image-container {
  display: grid;
  justify-content: center;
  align-content: center;
}

@media (min-width: 600px) {
  .water-section-two-subsection-image-container {

  }
}

.water-section-two-subsection-image {
  display: block;
  width: 100%;
}

@media (min-width: 600px) {
  .water-section-two-subsection-image {
    
  }
}

.water-section-two-subsection-copy-container {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: var(--subsection-container-row-gap-mobile);
}

@media (min-width: 600px) {
  .water-section-two-subsection-copy-container {
    row-gap: var(--subsection-container-row-gap-desktop);
  }
}

.water-section-two-subsection-subtitle {
  font-size: var(--subtitle-font-size-mobile);
  font-weight: var(--subtitle-font-weight-mobile);
}

@media (min-width: 600px) {
  .water-section-two-subsection-subtitle {
    font-size: var(--subtitle-font-size-desktop);
    font-weight: var(--subtitle-font-weight-desktop);
  }
}

.water-section-two-subsection-list {
  /* do we want to space out the bullet points(?) */
  padding-left: 20px;
  /* ^ this needs to be a global variable */
}

@media (min-width: 600px) {
  .water-section-two-subsection-list {

  }
}

.water-section-two-subsection-list-item {
  font-size: var(--paragraph-font-size-mobile);
  font-weight: var(--paragraph-font-weight-mobile);
}

@media (min-width: 600px) {
  .water-section-two-subsection-list-item {
    font-size: var(--paragraph-font-size-desktop);
    font-weight: var(--paragraph-font-weight-desktop);
  }
}