.water-section-two-container,
.water-section-two-subcontainer,
.water-section-two-title-container,
.water-section-two-title,
.water-section-two-title-paragraph, 
.water-section-two-subsection-container,
.water-section-two-subsection-image-container,
.water-section-two-subsection-copy-container,
.water-section-two-subsection-image,
.water-section-two-subsection-subtitle,
.water-section-two-subsection-list,
.water-section-two-subsection-list-item {
  /* border: var(--temporary-border); */
}

.water-section-two-container {
  display: grid;
  grid-template-columns: 1fr;
  /* padding: var(--container-padding-mobile); */
  padding: 15px 0;
  /* ^top and bottom padding in mobile */
  background: var(--water-section-container-background);
}

@media (min-width: 600px) {
  .water-section-two-container {
    
  }
}

.water-section-two-subcontainer {
  display: grid;
  grid-template-columns: 0.05fr 0.05fr 0.9fr 0.05fr 0.05fr;
  grid-template-areas: 
    "water-section-two-title-container water-section-two-title-container water-section-two-title-container water-section-two-title-container water-section-two-title-container"
    "water-section-two-subsection-container-one water-section-two-subsection-container-one water-section-two-subsection-container-one . ."
    ". water-section-two-subsection-container-two water-section-two-subsection-container-two water-section-two-subsection-container-two ."
    ". . water-section-two-subsection-container-three water-section-two-subsection-container-three water-section-two-subsection-container-three";
  align-content: start;
  row-gap: var(--subcontainer-row-gap-mobile);
}

@media (min-width: 600px) {
  .water-section-two-subcontainer {
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas:
      "water-section-two-title-container water-section-two-title-container water-section-two-title-container"
      "water-section-two-subsection-container-one water-section-two-subsection-container-two water-section-two-subsection-container-three";
    
    /* row-gap: var(--subcontainer-row-gap-desktop); */
    row-gap: 70px;
    
    /* column-gap: var(--subcontainer-column-gap-desktop); */
    column-gap: 3%;
    
    /* padding: var(--subcontainer-padding-desktop) */
    padding: 7% 0;

    background: var(--water-section-two-subcontainer-background);
    /* border-radius: var(--water-section-two-subcontainer-border-radius); */
  }
}

.water-section-two-title-container {
  grid-area: water-section-two-title-container;
  display: grid;
  grid-template-columns: 1fr;
  row-gap: var(--title-container-row-gap-mobile);
}

@media (min-width: 600px) {
  .water-section-two-title-container {
    row-gap: var(--title-container-row-gap-desktop);
  }
}

.water-section-two-title {
  text-align: center;
}

@media (min-width: 600px) {
  .water-section-two-title {
  }
}

.water-section-two-title-paragraph {
  text-align: center;
}

@media (min-width: 600px) {
  .water-section-two-title-paragraph {
  }
}

.water-section-two-subsection-container {
  display: grid;
  grid-template-columns: 1fr;
  align-content: start;
  row-gap: var(--subsection-container-row-gap-mobile);
  padding: var(--subsection-container-padding-mobile);
  background: var(--water-section-two-subsection-container-background);
  box-shadow: var(--water-section-two-subsection-container-box-shadow);
}

@media (min-width: 600px) {
  .water-section-two-subsection-container {
    row-gap: var(--subsection-container-row-gap-desktop);
    /* padding: var(--subsection-container-padding-desktop); */
    padding: 10%;
  }
}

.water-section-two-subsection-container-one {
  grid-area: water-section-two-subsection-container-one;
  border-radius: 0 30px 30px 0;
}

.water-section-two-subsection-container-two {
  grid-area: water-section-two-subsection-container-two;
  border-radius: 30px;
}

.water-section-two-subsection-container-three {
  grid-area: water-section-two-subsection-container-three;
  border-radius: 30px 0 0 30px;
}

.water-section-two-subsection-image-container {
  display: grid;
  justify-content: center;
  align-content: center;
}

@media (min-width: 600px) {
  .water-section-two-subsection-image-container {

  }
}

.water-section-two-subsection-image {
  display: block;
  width: 100%;
}

@media (min-width: 600px) {
  .water-section-two-subsection-image {
    
  }
}

.water-section-two-subsection-copy-container {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: var(--subsection-container-row-gap-mobile);
}

@media (min-width: 600px) {
  .water-section-two-subsection-copy-container {
    row-gap: var(--subsection-container-row-gap-desktop);
  }
}

.water-section-two-subsection-subtitle {
}

@media (min-width: 600px) {
  .water-section-two-subsection-subtitle {
  }
}

.water-section-two-subsection-list {
  /* do we want to space out the bullet points(?) */
  padding-left: 20px;
  /* ^ this needs to be a global variable */
}

@media (min-width: 600px) {
  .water-section-two-subsection-list {

  }
}

.water-section-two-subsection-list-item {
}

@media (min-width: 600px) {
  .water-section-two-subsection-list-item {
  }
}