.water-hero-container,
.water-hero-subcontainer,
.water-hero-image-container,
.water-hero-image,
.water-hero-copy-container,
.water-hero-title,
.water-hero-subtitle,
.water-hero-paragraph-container,
.water-hero-paragraph {
  /* border: var(--temporary-border); */
}

.water-hero-container {
  display: grid;
  grid-template-columns: 1fr;
  background: var(--water-hero-container-background);
}

@media (min-width: 600px) {
  .water-hero-container {
  }
}

.water-hero-subcontainer {
  display: grid;
  grid-template-columns: 0.1fr 0.9fr;
  grid-template-areas: 
    "water-hero-image-container water-hero-image-container"
    ". water-hero-copy-container";
  row-gap: 30px;
  padding: 30px 0;
}

@media (min-width: 600px) {
  .water-hero-subcontainer {
    grid-template-columns: 1fr 1.5fr;
    grid-template-areas:
      "water-hero-image-container water-hero-copy-container";
    row-gap: none;
    column-gap: 40px;
  }
}

.water-hero-image-container {
  grid-area: water-hero-image-container;
  display: grid;
  justify-content: center;
  align-content: center;
  padding: 0 5% 0 5%;
}

@media (min-width: 600px) {
  .water-hero-image-container {
    padding: 0 0 0 5%;
  }
}

.water-hero-image {
  display: block;
  width: 100%;
}

@media (min-width: 600px) {
  .water-hero-image {
  }
}

.water-hero-copy-container {
  grid-area: water-hero-copy-container;
  display: grid;
  grid-template-columns: 1fr;
  align-content: center;
  row-gap: 15px;
  padding: 50px 75px 50px 50px;
  background: var(--water-hero-copy-container-background);
  border-radius: var(--site-hero-copy-container-border-radius-left-mobile);
  box-shadow: var(--site-container-box-shadow-mobile);
}

@media (min-width: 600px) {
  .water-hero-copy-container { 
    padding: 50px;
    border-radius: var(--container-offset-right-border-radius-desktop);
    box-shadow: var(--site-container-box-shadow-desktop);
  }
}

.water-hero-title {
  text-align: center;
  font-size: var(--title-font-size-mobile);
  font-weight: var(--title-font-weight-mobile);
}

@media (min-width: 600px) {
  .water-hero-title {
    text-align: left;
    font-size: var(--title-font-size-desktop);
    font-weight: var(--title-font-weight-desktop);
  }
}

.water-hero-subtitle {
  text-align: center;
  font-size: var(--subtitle-font-size-mobile);
  font-weight: var(--subtitle-font-weight-mobile);
}

@media (min-width: 600px) {
  .water-hero-subtitle {
    text-align: left;
    font-size: var(--subtitle-font-size-desktop);
    font-weight: var(--subtitle-font-weight-desktop);
  }
}

.water-hero-paragraph-container {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: var(--paragraph-container-row-gap-mobile);
}

@media (min-width: 600px) {
  .water-hero-paragraph-container {
    row-gap: var(--paragraph-container-row-gap-desktop);
  }
}

.water-hero-paragraph {
  text-align: center;
  font-size: var(--paragraph-font-size-mobile);
  font-weight: var(--paragraph-font-weight-mobile);
}

@media (min-width: 600px) {
  .water-hero-paragraph {
    text-align: left;
    font-size: var(--paragraph-font-size-desktop);
    font-weight: var(--paragraph-font-weight-desktop);
  }
}